/****** Object:  Table [GNR].[PiofyEmployeeMapper]   ******/
   
GO
IF OBJECT_ID(N'GNR.PiofyEmployeeMapper') IS NULL
	CREATE TABLE [GNR].[PiofyEmployeeMapper](
		[PiofyEmployeeMapperID]	[INT] NOT NULL,
		[PersonnelRef]			[INT] NOT NULL,
		[PiofyEmployeeID]		[INT] NULL,
		[PiofyEmploymentType]	[INT] NOT NULL,
		[Version]				[INT] NOT NULL,
		[Creator]				[INT] NOT NULL,
		[CreationDate]			[DATETIME] NOT NULL,
		[LastModifier]			[INT] NOT NULL,
		[LastModificationDate]	[DATETIME] NOT NULL)
	 

--<< ADD CLOLUMNS >>--
--<< ALTER COLUMNS >>--
--<< PRIMARYKEY DEFINITION >>--
GO

If NOT EXISTS (select 1 from sys.objects where name = 'PK_PiofyEmployeeMapper')
ALTER TABLE [GNR].[PiofyEmployeeMapper] ADD  CONSTRAINT [PK_PiofyEmployeeMapper] PRIMARY KEY CLUSTERED 
(
	[PiofyEmployeeMapperID] ASC
) ON [PRIMARY]
GO


If NOT EXISTS (select 1 from sys.objects where name = 'FK_GNR_PiofyEmployeeMapper_PersonnelRef')
ALTER TABLE [GNR].[PiofyEmployeeMapper] ADD  CONSTRAINT [FK_GNR_PiofyEmployeeMapper_PersonnelRef] FOREIGN KEY(PersonnelRef)
REFERENCES [PAY].[Personnel](PersonnelId)


--<< DEFAULTS CHECKS DEFINITION >>--
--<< RULES DEFINITION >>--
--<< INDEXES DEFINITION >>--
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UIX_PersonnelRef')
CREATE UNIQUE NONCLUSTERED INDEX [UIX_PersonnelRef] ON GNR.PiofyEmployeeMapper
(
	[PersonnelRef] ASC
) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UIX_PersonnelRef_PiofyEmployeeID')
CREATE UNIQUE NONCLUSTERED INDEX [UIX_PersonnelRef_PiofyEmployeeID] ON GNR.PiofyEmployeeMapper
(
	[PersonnelRef] ASC,
	[PiofyEmployeeID] ASC
) ON [PRIMARY]
GO
--<< FOREIGNKEYS DEFINITION >>--
--<< DROP OBJECTS >>--


 
