--<<FileName:GNR_Party.sql>>--
--<< TABLE DEFINITION >>--

If Object_ID('GNR.PartyOpeningBalance') Is Null
CREATE TABLE [GNR].[PartyOpeningBalance](
	[PartyOpeningBalanceID] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[OpeningBalance] [decimal](19, 4) NOT NULL,
	[PartyRef] [int] NOT NULL,
	[FiscalYearRef] [int] NOT NULL,
	[OpeningBalanceType] [int] NOT NULL,
	[FeedFromClosingOperation] [bit] NOT NULL
) ON [PRIMARY]

--TEXTIMAGE_ON [SGBlob_Data]
--When a table has text, ntext, image, varchar(max), nvarchar(max), varbinary(max), xml or large user defined type columns uncomment above code
GO
--<< ADD CLOLUMNS >>--

GO

--<< ALTER COLUMNS >>--

--<< PRIMARYKEY DEFINITION >>--

If not Exists (select 1 from sys.objects where name = 'PK_PartyOpeningBalance')
ALTER TABLE [GNR].[PartyOpeningBalance] ADD  CONSTRAINT [PK_PartyOpeningBalance] PRIMARY KEY CLUSTERED 
(
	[PartyOpeningBalanceId] ASC
) ON [PRIMARY]
GO

--<< DEFAULTS CHECKS DEFINITION >>--

--<< RULES DEFINITION >>--

--<< INDEXES DEFINITION >>--
If not Exists (select 1 from sys.indexes where name = 'UIX_PartyOpeningBalanceTypePartyRefFiscalYearRef')
CREATE UNIQUE NONCLUSTERED INDEX UIX_PartyOpeningBalanceTypePartyRefFiscalYearRef ON GNR.PartyOpeningBalance
	(
	[Type] ASC,
	PartyRef ASC,
	FiscalYearRef ASC
	)ON [PRIMARY]

--<< FOREIGNKEYS DEFINITION >>--

If not Exists (select 1 from sys.objects where name = 'FK_PartyOpeningBalance_PartyRef')
ALTER TABLE [GNR].[PartyOpeningBalance]  WITH CHECK ADD  CONSTRAINT [FK_PartyOpeningBalance_PartyRef] FOREIGN KEY([PartyRef])
REFERENCES [GNR].[Party] ([PartyId])
ON UPDATE CASCADE
ON DELETE CASCADE
