/****** Object:  Table [GNR].[MarketingDisketteCurrency]    Script Date: 7/12/2017 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GNR].[MarketingDisketteCurrency]') AND type in (N'U'))
BEGIN
CREATE TABLE [GNR].[MarketingDisketteCurrency](
	[MarketingDisketteCurrencyID] [int] NOT NULL,
	[Code] [nvarchar](250) NOT NULL,
	[Ttile] [nvarchar](500) NOT NULL,
	[Version] [int] NOT NULL,
	[Creator] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifier] [int] NOT NULL,
	[LastModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MarketingDisketteCurrency] PRIMARY KEY CLUSTERED 
(
	[MarketingDisketteCurrencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
