/****** Object:  Table [GNR].[MarketingDiskettePartyMapper]    Script Date: 7/12/2017 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GNR].[MarketingDiskettePartyMapper]') AND type in (N'U'))
BEGIN
CREATE TABLE [GNR].[MarketingDiskettePartyMapper](
	[MarketingDiskettePartyMapperID] [int] NOT NULL,
	[PartyRef] [int] NOT NULL,
	[CustomerCategoryForTax95] [int] NULL,
	[CustomerCategoryForTax96] [int] NULL,
	[VendorCategoryForTax96] [int] NULL,
	[VendorLocationRef] [int] NULL,
	[Version] [int] NOT NULL,
	[Creator] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifier] [int] NOT NULL,
	[LastModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MarketingDiskettePartyMapper] PRIMARY KEY CLUSTERED 
(
	[MarketingDiskettePartyMapperID] ASC
)ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[GNR].[FK_MarketingDiskettePartyMapper_Location]') AND parent_object_id = OBJECT_ID(N'[GNR].[MarketingDiskettePartyMapper]'))
ALTER TABLE [GNR].[MarketingDiskettePartyMapper]  WITH CHECK ADD  CONSTRAINT [FK_MarketingDiskettePartyMapper_Location] FOREIGN KEY([VendorLocationRef])
REFERENCES [GNR].[Location] ([LocationId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[GNR].[FK_MarketingDiskettePartyMapper_Location]') AND parent_object_id = OBJECT_ID(N'[GNR].[MarketingDiskettePartyMapper]'))
ALTER TABLE [GNR].[MarketingDiskettePartyMapper] CHECK CONSTRAINT [FK_MarketingDiskettePartyMapper_Location]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[GNR].[FK_MarketingDiskettePartyMapper_Party]') AND parent_object_id = OBJECT_ID(N'[GNR].[MarketingDiskettePartyMapper]'))
ALTER TABLE [GNR].[MarketingDiskettePartyMapper]  WITH CHECK ADD  CONSTRAINT [FK_MarketingDiskettePartyMapper_Party] FOREIGN KEY([PartyRef])
REFERENCES [GNR].[Party] ([PartyId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[GNR].[FK_MarketingDiskettePartyMapper_Party]') AND parent_object_id = OBJECT_ID(N'[GNR].[MarketingDiskettePartyMapper]'))
ALTER TABLE [GNR].[MarketingDiskettePartyMapper] CHECK CONSTRAINT [FK_MarketingDiskettePartyMapper_Party]
GO
--<< INDEXES DEFINITION >>--
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UIX_PartyRef_CustomerCategoryForTax95_CustomerCategoryForTax96')
CREATE UNIQUE NONCLUSTERED INDEX [UIX_PartyRef_CustomerCategoryForTax95_CustomerCategoryForTax96] ON GNR.MarketingDiskettePartyMapper 
(
	[PartyRef] ASC,
	[CustomerCategoryForTax95] ASC, 
	[CustomerCategoryForTax96] ASC
) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UIX_PartyRef_VendorLocationRef_VendorCategoryForTax96')
CREATE UNIQUE NONCLUSTERED INDEX [UIX_PartyRef_VendorLocationRef_VendorCategoryForTax96] ON GNR.MarketingDiskettePartyMapper 
(
	[PartyRef] ASC,
	[VendorLocationRef] ASC, 
	[VendorCategoryForTax96] ASC
) ON [PRIMARY]

GO
