/****** Object:  Table [GNR].[MarketingDisketteCurrencyMapper]    Script Date: 7/12/2017 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[GNR].[MarketingDisketteCurrencyMapper]') AND type in (N'U'))
BEGIN
CREATE TABLE [GNR].[MarketingDisketteCurrencyMapper](
	[MarketingDisketteCurrencyMapperID] [int] NOT NULL,
	[CurrencyRef] [int] NOT NULL,
	[MarketingDisketteCurrencyRef] [int] NULL,
	[Version] [int] NOT NULL,
	[Creator] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifier] [int] NOT NULL,
	[LastModificationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MarketingDisketteCurrencyMapper] PRIMARY KEY CLUSTERED 
(
	[MarketingDisketteCurrencyMapperID] ASC
)  ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[GNR].[FK_MarketingDisketteCurrencyMapper_Currency]') AND parent_object_id = OBJECT_ID(N'[GNR].[MarketingDisketteCurrencyMapper]'))
ALTER TABLE [GNR].[MarketingDisketteCurrencyMapper]  WITH CHECK ADD  CONSTRAINT [FK_MarketingDisketteCurrencyMapper_Currency] FOREIGN KEY([CurrencyRef])
REFERENCES [GNR].[Currency] ([CurrencyID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[GNR].[FK_MarketingDisketteCurrencyMapper_Currency]') AND parent_object_id = OBJECT_ID(N'[GNR].[MarketingDisketteCurrencyMapper]'))
ALTER TABLE [GNR].[MarketingDisketteCurrencyMapper] CHECK CONSTRAINT [FK_MarketingDisketteCurrencyMapper_Currency]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[GNR].[FK_MarketingDisketteCurrencyMapper_MarketingDisketteCurrency]') AND parent_object_id = OBJECT_ID(N'[GNR].[MarketingDisketteCurrencyMapper]'))
ALTER TABLE [GNR].[MarketingDisketteCurrencyMapper]  WITH CHECK ADD  CONSTRAINT [FK_MarketingDisketteCurrencyMapper_MarketingDisketteCurrency] FOREIGN KEY([MarketingDisketteCurrencyRef])
REFERENCES [GNR].[MarketingDisketteCurrency] ([MarketingDisketteCurrencyID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[GNR].[FK_MarketingDisketteCurrencyMapper_MarketingDisketteCurrency]') AND parent_object_id = OBJECT_ID(N'[GNR].[MarketingDisketteCurrencyMapper]'))
ALTER TABLE [GNR].[MarketingDisketteCurrencyMapper] CHECK CONSTRAINT [FK_MarketingDisketteCurrencyMapper_MarketingDisketteCurrency]
GO
--<< INDEXES DEFINITION >>--
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UIX_CurrencyRef_MarketingDisketteCurrencyRef')
CREATE UNIQUE NONCLUSTERED INDEX [UIX_CurrencyRef_MarketingDisketteCurrencyRef] ON GNR.MarketingDisketteCurrencyMapper 
(
	[CurrencyRef] ASC,
	[MarketingDisketteCurrencyRef] ASC
) ON [PRIMARY]
GO
