/****** Object:  Table [GNR].[MarketingDiskettItemCategoryMapper]   ******/
   
GO
IF OBJECT_ID(N'GNR.MarketingDiskettItemCategoryMapper') IS NULL
	CREATE TABLE [GNR].[MarketingDiskettItemCategoryMapper](
		[MarketingDiskettItemCategoryMapperID] [INT] NOT NULL,
		[ItemRef] [INT] NOT NULL,
		[ItemCategory95Ref] [INT] NULL,
		[ItemCategory96] [INT] NOT NULL,
		[Version] [INT] NOT NULL,
		[Creator] [INT] NOT NULL,
		[CreationDate] [DATETIME] NOT NULL,
		[LastModifier] [INT] NOT NULL,
		[LastModificationDate] [DATETIME] NOT NULL)
	 

--<< ADD CLOLUMNS >>--
--<< ALTER COLUMNS >>--
--<< PRIMARYKEY DEFINITION >>--
GO

If NOT EXISTS (select 1 from sys.objects where name = 'PK_MarketingDiskettItemCategoryMapper')
ALTER TABLE [GNR].[MarketingDiskettItemCategoryMapper] ADD  CONSTRAINT [PK_MarketingDiskettItemCategoryMapper] PRIMARY KEY CLUSTERED 
(
	[MarketingDiskettItemCategoryMapperID] ASC
) ON [PRIMARY]
GO


If NOT EXISTS (select 1 from sys.objects where name = 'FK_GNR_MarketingDiskettItemCategoryMapper_ItemRef')
ALTER TABLE [GNR].[MarketingDiskettItemCategoryMapper] ADD  CONSTRAINT [FK_GNR_MarketingDiskettItemCategoryMapper_ItemRef] FOREIGN KEY(ItemRef)
REFERENCES [INV].[Item](ItemId)
GO


If not Exists (select 1 from sys.objects where name = 'FK_GNR_MarketingDiskettItemCategoryMapper_ItemCategory95Ref')
ALTER TABLE [GNR].[MarketingDiskettItemCategoryMapper] ADD  CONSTRAINT [FK_GNR_MarketingDiskettItemCategoryMapper_ItemCategory95Ref] FOREIGN KEY(ItemCategory95Ref)
REFERENCES [INV].[ItemCategory](ItemCategoryId)
GO

--<< DEFAULTS CHECKS DEFINITION >>--
--<< RULES DEFINITION >>--
--<< INDEXES DEFINITION >>--
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UIX_ItemRef_ItemCategory95Ref_ItemCategory96')
CREATE UNIQUE NONCLUSTERED INDEX [UIX_ItemRef_ItemCategory95Ref_ItemCategory96] ON GNR.MarketingDiskettItemCategoryMapper
(
	[ItemRef] ASC,
	[ItemCategory95Ref] ASC, 
	[ItemCategory96] ASC 
) ON [PRIMARY]
GO
--<< FOREIGNKEYS DEFINITION >>--
--<< DROP OBJECTS >>--


 
