--<<FileName:INV_InventoryPurchaseInvoice.sql>>--
--<< TABLE DEFINITION >>--

If Object_ID('INV.InventoryPurchaseInvoice') Is Null
CREATE TABLE [INV].[InventoryPurchaseInvoice](
	[InventoryPurchaseInvoiceID] [int] NOT NULL,
	[VendorDLRef] [int] NOT NULL,
	[PurchaseOrderRef] [int] NULL,
	[PurchasingAgentPartyRef] [int] NULL,
	[Number] [int] NOT NULL,
	[InvoiceNumber] [int] NULL,
	[Date] [datetime] NOT NULL,
	[CurrencyRef] [int] NOT NULL,
	[CurrencyRate] [decimal](26, 16) NOT NULL,
	[TotalPrice] [decimal](19, 4) NULL,
	[TotalPriceInBaseCurrency] [decimal](19, 4) NULL,
	[TotalTax] [decimal](19, 4) NULL,
	[TotalDuty] [decimal](19, 4) NULL,
	[TotalTransportPrice] [decimal](19, 4) NULL,
	[TotalNetPrice] [decimal](19, 4) NULL,
	[TotalNetPriceInBaseCurrency] [decimal](19, 4) NULL,
	[TotalWithHoldingTaxAmount] [decimal](19, 4) NULL,
	[TotalInsuranceAmount] [decimal](19, 4) NULL,
	[FiscalYearRef] [int] NOT NULL,
	[Creator] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifier] [int] NOT NULL,
	[LastModificationDate] [datetime] NOT NULL,
	[Version] [int] NOT NULL,
	[PaymentHeaderRef] [int] NULL,
	[Type] [int] NOT NULL DEFAULT(1), -- 1: InventoryPurchaseInvoiceType.Normal , 2: InventoryPurchaseInvoiceType.Service
	[AccountingVoucherRef] [int] NULL,
	[SLAccountRef] [int] NULL,
	[CostCenterRef] [int] NULL,
	[AssetAcquisitionPurchaseSLRef] [int] NULL,
	[PartyAddressRef] [int] NULL,
	[Description] [nvarchar](400) NULL,
	[Description_En] [nvarchar](400) NULL
) ON [PRIMARY]


--<< ADD CLOLUMNS >>--

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
				[name] = 'Description')
BEGIN
    ALTER TABLE [INV].[InventoryPurchaseInvoice] ADD [Description] [nvarchar](400) NULL
END	
Go


IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
				[name] = 'Description_En')
BEGIN
    ALTER TABLE [INV].[InventoryPurchaseInvoice] ADD [Description_En] [nvarchar](400) NULL
END	
Go


IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
				[name] = 'PartyAddressRef')
BEGIN
    ALTER TABLE [INV].[InventoryPurchaseInvoice] ADD [PartyAddressRef] INT NULL
END	
Go

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
				[name] = 'PurchasingAgentPartyRef')
BEGIN
    ALTER TABLE [INV].[InventoryPurchaseInvoice] ADD [PurchasingAgentPartyRef] INT NULL
END	
Go

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
				[name] = 'PurchaseOrderRef')
BEGIN
    ALTER TABLE [INV].[InventoryPurchaseInvoice] ADD [PurchaseOrderRef] INT NULL
END	
Go

if columnproperty(object_id('INV.InventoryPurchaseInvoice'), 'AssetAcquisitionPurchaseSLRef' , 'AllowsNull') is null
begin
  Alter Table [INV].[InventoryPurchaseInvoice] Add [AssetAcquisitionPurchaseSLRef] [int] NULL
end
GO
--<<Sample>>--
/*if not exists (select 1 from sys.columns where object_id=object_id('INV.InventoryPurchaseInvoice') and
				[name] = 'ColumnName')
begin
    Alter table INV.InventoryPurchaseInvoice Add ColumnName DataType Nullable
end
GO*/

IF EXISTS (SELECT 1 FROM sys.columns c
			inner join sys.types t on c.system_Type_Id = t.system_type_id
			where c.object_id=object_id('INV.InventoryPurchaseInvoice') AND
				c.[Name] = 'CurrencyRate' and 
				t.name = 'float'
)
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoice Alter Column CurrencyRate [decimal](26,16) Not NULL
END
GO


IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
			[name] = 'TotalPrice')
	ALTER TABLE INV.InventoryPurchaseInvoice
		ADD [TotalPrice] [decimal](19, 4) NULL

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
			[name] = 'TotalTax')
	ALTER TABLE INV.InventoryPurchaseInvoice
		ADD [TotalTax] [decimal](19, 4) NULL

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
			[name] = 'TotalDuty')
	ALTER TABLE INV.InventoryPurchaseInvoice
		ADD [TotalDuty] [decimal](19, 4) NULL

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
			[name] = 'TotalTransportPrice')
	ALTER TABLE INV.InventoryPurchaseInvoice
		ADD [TotalTransportPrice] [decimal](19, 4) NULL

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
			[name] = 'TotalNetPrice')
	ALTER TABLE INV.InventoryPurchaseInvoice
		ADD [TotalNetPrice] [decimal](19, 4) NULL
GO
	
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
		[name] = 'TotalWithHoldingTaxAmount')
ALTER TABLE INV.InventoryPurchaseInvoice ADD [TotalWithHoldingTaxAmount] [decimal](19, 4) NULL
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
		[name] = 'TotalInsuranceAmount')
ALTER TABLE INV.InventoryPurchaseInvoice ADD [TotalInsuranceAmount] [decimal](19, 4) NULL
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
	[name] = 'PaymentHeaderRef' )
	ALTER TABLE INV.InventoryPurchaseInvoice ADD PaymentHeaderRef INT NULL
GO

IF NOT EXISTS(SELECT 1 FROM sys.columns WHERE OBJECT_ID = OBJECT_ID('INV.InventoryPurchaseInvoice') AND 
					[name] = 'Type')
	ALTER TABLE INV.InventoryPurchaseInvoice ADD [Type] [int] NOT NULL DEFAULT(1) -- 1: Normal , 2: Service
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
	[name] = 'AccountingVoucherRef' )
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoice ADD AccountingVoucherRef INT NULL
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
												[name] = 'SLAccountRef' )
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoice ADD SLAccountRef INT NULL
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
												[name] = 'CostCenterRef' )
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoice ADD CostCenterRef INT NULL
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
												[name] = 'TotalNetPriceInBaseCurrency' )
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoice ADD [TotalNetPriceInBaseCurrency] [decimal](19, 4) NULL
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoice') AND
												[name] = 'TotalPriceInBaseCurrency' )
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoice ADD [TotalPriceInBaseCurrency] [decimal](19, 4) NULL
END
GO

--<< ALTER COLUMNS >>--

--<< PRIMARYKEY DEFINITION >>--

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE NAME = 'PK_InventoryPurchaseInvoice')
BEGIN
ALTER TABLE [INV].[InventoryPurchaseInvoice] ADD CONSTRAINT [PK_InventoryPurchaseInvoice] PRIMARY KEY CLUSTERED 
(
	[InventoryPurchaseInvoiceID] ASC
) ON [PRIMARY]
END
GO

--<< DEFAULTS CHECKS DEFINITION >>--

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE NAME = 'DF_InventoryPurchaseInvoice_CurrencyRate')
	ALTER TABLE [INV].[InventoryPurchaseInvoice]
	ADD CONSTRAINT [DF_InventoryPurchaseInvoice_CurrencyRate]  DEFAULT ((1)) FOR CurrencyRate

--<< RULES DEFINITION >>--

--<< INDEXES DEFINITION >>--
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_InventoryPurchaseInvoice_AccountingVoucherRef')
	CREATE NONCLUSTERED INDEX [IX_InventoryPurchaseInvoice_AccountingVoucherRef]
		ON [INV].[InventoryPurchaseInvoice] ([AccountingVoucherRef])
Go
--<< FOREIGNKEYS DEFINITION >>--

If not Exists (select 1 from sys.objects where name = 'FK_InventoryPurchaseInvoice_Currency')
ALTER TABLE [INV].[InventoryPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_InventoryPurchaseInvoice_Currency] FOREIGN KEY([CurrencyRef])
REFERENCES [GNR].[Currency] ([CurrencyID])
GO

If not Exists (select 1 from sys.objects where name = 'FK_InventoryPurchaseInvoice_DL')
ALTER TABLE [INV].[InventoryPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_InventoryPurchaseInvoice_DL] FOREIGN KEY([VendorDLRef])
REFERENCES [ACC].[DL] ([DLId])
GO

If not Exists (select 1 from sys.objects where name = 'FK_InventoryPurchaseInvoice_FiscalYear')
ALTER TABLE [INV].[InventoryPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_InventoryPurchaseInvoice_FiscalYear] FOREIGN KEY([FiscalYearRef])
REFERENCES [FMK].[FiscalYear] ([FiscalYearId])
GO

If not Exists (select 1 from sys.objects where name = 'FK_InventoryPurchaseInvoice_PaymentHeaderRef')
ALTER TABLE [INV].[InventoryPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_InventoryPurchaseInvoice_PaymentHeaderRef] FOREIGN KEY([PaymentHeaderRef])
REFERENCES [RPA].[PaymentHeader] ([PaymentHeaderId])
GO

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE name = 'FK_InventoryPurchaseInvoice_Account')
ALTER TABLE [INV].[InventoryPurchaseInvoice]  ADD  CONSTRAINT [FK_InventoryPurchaseInvoice_Account] FOREIGN KEY([SLAccountRef])
REFERENCES [ACC].[Account] ([AccountId])
GO
IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE name = 'FK_InventoryPurchaseInvoice_AssetAcquisitionPurchaseSLRef')
ALTER TABLE [INV].[InventoryPurchaseInvoice]  ADD  CONSTRAINT [FK_InventoryPurchaseInvoice_AssetAcquisitionPurchaseSLRef] FOREIGN KEY([AssetAcquisitionPurchaseSLRef])
REFERENCES [ACC].[Account] ([AccountId])
GO

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE Name= 'FK_InventoryPurchaseInvoice_Voucher')
	ALTER TABLE [INV].[InventoryPurchaseInvoice] ADD CONSTRAINT FK_InventoryPurchaseInvoice_Voucher FOREIGN KEY (AccountingVoucherRef)
	REFERENCES ACC.Voucher (VoucherId) 
	ON UPDATE	NO ACTION  
	ON DELETE	NO ACTION 
GO

If not Exists (select 1 from sys.objects where name = 'FK_InventoryPurchaseInvoice_CostCenter')
ALTER TABLE [INV].[InventoryPurchaseInvoice]  WITH CHECK ADD CONSTRAINT [FK_InventoryPurchaseInvoice_CostCenter] FOREIGN KEY([CostCenterRef])
REFERENCES [ACC].[DL] ([DLId])
GO

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE name = 'FK_InventoryPurchaseInvoice_PurchasingAgentPartyRef')
ALTER TABLE [INV].[InventoryPurchaseInvoice]  ADD  CONSTRAINT [FK_InventoryPurchaseInvoice_PurchasingAgentPartyRef] FOREIGN KEY([PurchasingAgentPartyRef])
REFERENCES [GNR].[Party] ([PartyId])
GO

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE name = 'FK_InventoryPurchaseInvoice_PurchaseOrderRef')
ALTER TABLE [INV].[InventoryPurchaseInvoice]  ADD  CONSTRAINT [FK_InventoryPurchaseInvoice_PurchaseOrderRef] FOREIGN KEY([PurchaseOrderRef])
REFERENCES [POM].[PurchaseOrder] ([PurchaseOrderId])
GO