--<<FileName:INV_InventoryPurchaseInvoiceItem.sql>>--
--<< TABLE DEFINITION >>--

If Object_ID('INV.InventoryPurchaseInvoiceItem') Is Null
CREATE TABLE [INV].[InventoryPurchaseInvoiceItem](
	[InventoryPurchaseInvoiceItemID] [int] NOT NULL,
	[InventoryPurchaseInvoiceRef] [int] NOT NULL,
	[PurchaseOrderItemRef] [int] NULL,
	[RowNumber] [int] NOT NULL,
	[ItemRef] [int] NOT NULL,
	[Quantity] [decimal](19, 4) NOT NULL,
	[SecondaryQuantity] [decimal](19, 4) NULL,
	[RemainingQuantity] [decimal](19, 4) NOT NULL CONSTRAINT [DF_InventoryPurchaseInvoiceItem_RemainingQuantity]  DEFAULT ((0)),
	[RemainingSecondaryQuantity] [decimal](19, 4) NULL,
	[CurrencyRate] [decimal](26, 16) NOT NULL,
	[Fee] [decimal](19,4) NOT NULL,
	[FeeInBaseCurrency] [decimal](19, 4) NULL,
	[Price] [decimal](19, 4) NOT NULL,
	[PriceInBaseCurrency] [decimal](19,4) NULL,
	[Discount] [decimal](19, 4) NULL,
	[DiscountInBaseCurrentcy] [decimal](19,4) NULL,
	[Addition] [decimal](19, 4) NULL,
	[AdditionInBaseCurrency] [decimal](19,4)NULL,
	[Tax] [decimal](19, 4) NULL,
	[TaxInBaseCurrency] [decimal](19,4) NULL,
	[Duty] [decimal](19, 4) NULL,
	[DutyInBaseCurrency] [decimal](19,4) NULL,
	[TransportPrice] [decimal](19, 4) NULL,
	[TransportPriceInBaseCurrency]  AS CONVERT([decimal](19,4),([TransportPrice]*[CurrencyRate])) PERSISTED,
	[TransportTax] [decimal](19, 4) NULL,
	[TransportTaxInBaseCurrency]  AS CONVERT([decimal](19,4),([TransportTax]*[CurrencyRate])) PERSISTED,
	[TransportDuty] [decimal](19, 4) NULL,
	[TransportDutyInBaseCurrency]  AS CONVERT([decimal](19,4),([TransportDuty]*[CurrencyRate]) ) PERSISTED,
	[TransportDescription] [nvarchar](250) NULL,
	[Description] [nvarchar](500) NULL,
	[Description_En] [nvarchar](500) NULL,
	[Version] [int] NOT NULL,
	[CostServiceAccountSLRef] [int] NULL,
	[InsuranceAmount] [decimal](19, 4) NULL,
	[InsuranceAmountInBaseCurrency] [decimal](19,4) NULL,
	[WithHoldingTaxAmount] [decimal](19, 4) NULL,
	[WithHoldingTaxAmountInBaseCurrency] [decimal](19,4) NULL,
	[NetPrice]  AS CONVERT([decimal](19,4), [Price] 
											- ISNULL([Discount], 0)
											+ ISNULL([Tax], 0)
											+ ISNULL([Duty], 0)
											+ ISNULL([TransportPrice], 0)
											+ ISNULL([TransportTax], 0)
											+ ISNULL([TransportDuty], 0)
											+ ISNULL([Addition], 0)
											- ISNULL([InsuranceAmount], 0)
											- ISNULL([WithHoldingTaxAmount], 0)) PERSISTED,
	[NetPriceInBaseCurrency][decimal](19, 4) NULL,
	[TracingRef] [int] NULL
) ON [PRIMARY]


--TEXTIMAGE_ON [SGBlob_Data]
--When a table has text, ntext, image, varchar(max), nvarchar(max), varbinary(max), xml or large user defined type columns uncomment above code
GO
--<< ADD CLOLUMNS >>--

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'Addition')
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD Addition [decimal](19, 4) NULL
END
GO


IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'TracingRef')
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD [TracingRef] [int] NULL
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
				[name] = 'PurchaseOrderItemRef')
BEGIN
    ALTER TABLE [INV].[InventoryPurchaseInvoiceItem] ADD [PurchaseOrderItemRef] INT NULL
END	
Go

--<<Sample>>--
/*if not exists (select 1 from sys.columns where object_id=object_id('INV.InventoryPurchaseInvoiceItem') and
				[name] = 'ColumnName')
begin
    Alter table INV.InventoryPurchaseInvoiceItem Add ColumnName DataType Nullable
end
GO*/


--<< ALTER COLUMNS >>--

if exists( select * from sys.columns where object_id = object_id('INV.InventoryPurchaseInvoiceItem')
		and name = 'Description' and max_length > 1000) -- nvarchar occupies 2 bytes
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ALTER COLUMN [Description] [nvarchar](500) NULL
END

if exists( select * from sys.columns where object_id = object_id('INV.InventoryPurchaseInvoiceItem')
		AND  name = 'Description_En' AND  max_length > 1000) -- nvarchar occupies 2 bytes
BEGIN	
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ALTER COLUMN [Description_En] [nvarchar](500) NULL
END


-- Drop the column when it exists and does not match the required specifications.
-- Fee
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'Fee' AND
		c.is_computed = 1)
										  				
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD Fee2 [decimal](19, 4) NULL
	EXEC sp_executesql N'UPDATE INV.InventoryPurchaseInvoiceItem SET [Fee2]=[Fee]'
	ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN Fee
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.Fee2', 'Fee', 'COLUMN'
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ALTER COLUMN Fee [decimal](19, 4) NOT NULL
END 
GO


-- AdditionInBaseCurrency
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'AdditionInBaseCurrency' AND
		c.is_computed = 1)
										  				
BEGIN
		ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD AdditionInBaseCurrency2 [decimal](19, 4) NULL
		EXEC sp_executesql N'UPDATE INV.InventoryPurchaseInvoiceItem SET [AdditionInBaseCurrency2]=[AdditionInBaseCurrency]'
		ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN AdditionInBaseCurrency
		EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.AdditionInBaseCurrency2', 'AdditionInBaseCurrency', 'COLUMN'
END

Go

-- FeeInBaseCurrency
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'FeeInBaseCurrency' AND
		c.is_computed = 1 )
BEGIN
		ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD FeeInBaseCurrency2 [decimal](19, 4) NULL
		EXEC sp_executesql N'UPDATE INV.InventoryPurchaseInvoiceItem SET [FeeInBaseCurrency2]=[FeeInBaseCurrency]'
		ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN FeeInBaseCurrency
		EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.FeeInBaseCurrency2', 'FeeInBaseCurrency', 'COLUMN'
END

Go
	
-- PriceInBaseCurrency
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'PriceInBaseCurrency' AND
		c.is_computed = 1)
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD PriceInBaseCurrency2 [decimal](19, 4) NULL
	EXEC sp_executesql N'UPDATE INV.InventoryPurchaseInvoiceItem SET [PriceInBaseCurrency2]=[PriceInBaseCurrency]'
	ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN PriceInBaseCurrency
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.PriceInBaseCurrency2', 'PriceInBaseCurrency', 'COLUMN'
END

Go

-- NetPrice
-- Drop the column when it exists and does not match the required specifications.
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'NetPrice' AND
		(c.is_computed = 1 OR definition<>'(CONVERT([decimal](19,4),((((([Price]-isnull([Discount],(0)))+isnull([Tax],(0)))+isnull([Duty],(0)))+isnull([TransportPrice],(0)))+isnull([TransportTax],(0)))+isnull([TransportDuty],(0))+isnull([Addition],0),0))' OR is_persisted<>1))
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		DROP COLUMN NetPrice
END

Go

-- NetPriceInBaseCurrency
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'NetPriceInBaseCurrency' AND
		c.is_computed = 1)
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD NetPriceInBaseCurrency2 [decimal](19, 4) NULL
	EXEC sp_executesql  N'UPDATE INV.InventoryPurchaseInvoiceItem SET [NetPriceInBaseCurrency2]=[NetPriceInBaseCurrency]'
	ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN NetPriceInBaseCurrency
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.NetPriceInBaseCurrency2', 'NetPriceInBaseCurrency', 'COLUMN'
END

GO


-- DiscountInBaseCurrentcy
-- Drop the column when it exists and does not match the required specifications.
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'DiscountInBaseCurrentcy' AND
		c.is_computed = 1)
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD DiscountInBaseCurrentcy2 [decimal](19, 4) NULL
	EXEC sp_executesql N'UPDATE INV.InventoryPurchaseInvoiceItem SET [DiscountInBaseCurrentcy2]=[DiscountInBaseCurrentcy]'
	ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN DiscountInBaseCurrentcy
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.DiscountInBaseCurrentcy2', 'DiscountInBaseCurrentcy', 'COLUMN'
			
END

GO

-- TaxInBaseCurrency
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'TaxInBaseCurrency' AND
		c.is_computed = 1 )
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD TaxInBaseCurrency2 [decimal](19, 4) NULL
	EXEC sp_executesql N'UPDATE INV.InventoryPurchaseInvoiceItem SET [TaxInBaseCurrency2]=[TaxInBaseCurrency]'
	ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN TaxInBaseCurrency
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.TaxInBaseCurrency2', 'TaxInBaseCurrency', 'COLUMN'

END

GO



-- DutyInBaseCurrency
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'DutyInBaseCurrency' AND
		c.is_computed = 1 )
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD DutyInBaseCurrency2 [decimal](19, 4) NULL
	EXEC sp_executesql N'UPDATE INV.InventoryPurchaseInvoiceItem SET [DutyInBaseCurrency2]=[DutyInBaseCurrency]'
	ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN DutyInBaseCurrency
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.DutyInBaseCurrency2', 'DutyInBaseCurrency', 'COLUMN'
END

GO

IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'InsuranceAmountInBaseCurrency' AND
		c.is_computed = 1)
										  				
BEGIN
	IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
				[Name] = 'InsuranceAmountInBaseCurrency2')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD InsuranceAmountInBaseCurrency2 [decimal](19, 4) NULL
	EXEC sp_executesql N'UPDATE INV.InventoryPurchaseInvoiceItem SET [InsuranceAmountInBaseCurrency2]=[InsuranceAmountInBaseCurrency]'
	EXEC sp_executesql N'ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN InsuranceAmountInBaseCurrency'
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.InsuranceAmountInBaseCurrency2', 'InsuranceAmountInBaseCurrency', 'COLUMN'

END 
GO



--WithHoldingTaxAmount
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'WithHoldingTaxAmountInBaseCurrency' AND
		c.is_computed = 1)
										  				
BEGIN
	IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
				[Name] = 'WithHoldingTaxAmountInBaseCurrency2')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD WithHoldingTaxAmountInBaseCurrency2 [decimal](19, 4) NULL
	EXEC sp_executesql N'UPDATE INV.InventoryPurchaseInvoiceItem SET [WithHoldingTaxAmountInBaseCurrency2]=[WithHoldingTaxAmountInBaseCurrency]'
	EXEC sp_executesql N'ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN WithHoldingTaxAmountInBaseCurrency'
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.WithHoldingTaxAmountInBaseCurrency2', 'WithHoldingTaxAmountInBaseCurrency', 'COLUMN'
END 
GO

-- TransportPriceInBaseCurrency
-- Drop the column when it exists and does not match the required specifications.
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'TransportPriceInBaseCurrency' AND
		(c.is_computed<>1 OR definition<>'(CONVERT([decimal](19,4),[TransportPrice]*[CurrencyRate],0))' OR is_persisted<>1))
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		DROP COLUMN TransportPriceInBaseCurrency
END

GO

-- TransportTaxInBaseCurrency
-- Drop the column when it exists and does not match the required specifications.
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'TransportTaxInBaseCurrency' AND
		(c.is_computed<>1 OR definition<>'(CONVERT([decimal](19,4),[TransportTax]*[CurrencyRate],0))' OR is_persisted<>1))
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		DROP COLUMN TransportTaxInBaseCurrency
END

GO


-- TransportDutyInBaseCurrency
-- Drop the column when it exists and does not match the required specifications.
IF EXISTS (
	SELECT 1
	FROM sys.columns c LEFT JOIN sys.computed_columns cc
		ON (c.object_id = cc.object_id and c.name = cc.name )
	WHERE c.object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		c.[Name] = 'TransportDutyInBaseCurrency' AND
		(c.is_computed<>1 OR definition<>'(CONVERT([decimal](19,4),[TransportDuty]*[CurrencyRate],0))' OR is_persisted<>1))
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		DROP COLUMN TransportDutyInBaseCurrency
END

GO

-- correcting Price column
IF EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'Price' AND is_computed = 1)
BEGIN
	IF Not EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'Price2')
	Begin
		ALTER TABLE INV.InventoryPurchaseInvoiceItem
			ADD Price2 [decimal](19, 4) NULL
	end
END

GO

IF
	EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'Price') AND
	EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'Price2')
BEGIN
	DECLARE @sql NVARCHAR(500)
	SET @sql = N'UPDATE INV.InventoryPurchaseInvoiceItem SET [Price2]=[Price]'
	EXEC sp_executesql @stmt=@sql
END
GO

IF EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'Price2')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ALTER COLUMN Price2 [decimal](19,4) NOT NULL
GO

IF
	EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'Price') AND
	EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'Price2')
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		DROP COLUMN Price
END

GO
IF EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'Price2')
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.Price2', 'Price', 'COLUMN'

GO
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'Price')
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD Price [decimal](19,4) NULL
	UPDATE INV.InventoryPurchaseInvoiceItem SET Price=0
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ALTER COLUMN Price [decimal](19,4) NOT NULL
END

GO

IF
	EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'RemainingAmount')
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN RemainingAmount

END

IF
	EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'RemainingAmountInBaseCurrency')
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem DROP COLUMN RemainingAmountInBaseCurrency

END


-- Add columns with desired specifictions
IF Not EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'Fee')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD [Fee] [decimal](19,4) NOT NULL

GO

IF Not EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'FeeInBaseCurrency')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD FeeInBaseCurrency [decimal](19,4) NULL

GO

IF Not EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'PriceInBaseCurrency')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD [PriceInBaseCurrency] [decimal](19,4) NULL

GO

IF Not EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'NetPrice')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD NetPrice AS CONVERT([decimal](19,4),[Price] 
											- ISNULL([Discount], 0)
											+ ISNULL([Tax], 0)
											+ ISNULL([Duty], 0)
											+ ISNULL([TransportPrice], 0)
											+ ISNULL([TransportTax], 0)
											+ ISNULL([TransportDuty], 0)
											+ ISNULL([Addition], 0)
											- ISNULL([InsuranceAmount], 0)
											- ISNULL([WithHoldingTaxAmount], 0)) PERSISTED

GO
IF Not EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'NetPriceInBaseCurrency')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD NetPriceInBaseCurrency [decimal] (19,4) NULL

GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'DiscountInBaseCurrentcy')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD DiscountInBaseCurrentcy [decimal] (19,4)NULL


GO
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'TaxInBaseCurrency')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD TaxInBaseCurrency [decimal] (19,4)NULL


GO
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'DutyInBaseCurrency')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD DutyInBaseCurrency [decimal] (19,4)NULL


GO
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'TransportPriceInBaseCurrency')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD TransportPriceInBaseCurrency AS CONVERT([decimal](19,4),([TransportPrice]*[CurrencyRate])) PERSISTED


GO
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'TransportTaxInBaseCurrency')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD TransportTaxInBaseCurrency AS CONVERT([decimal](19,4),([TransportTax]*[CurrencyRate])) PERSISTED


GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'TransportDutyInBaseCurrency')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD TransportDutyInBaseCurrency AS CONVERT([decimal](19,4),([TransportDuty]*[CurrencyRate]) ) PERSISTED

GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'AdditionInBaseCurrency')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD AdditionInBaseCurrency [decimal] (19,4)NULL
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'InsuranceAmountInBaseCurrency')
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD [InsuranceAmountInBaseCurrency] [decimal](19,4) NULL
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
	[Name] = 'WithHoldingTaxAmountInBaseCurrency')
BEGIN
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
		ADD [WithHoldingTaxAmountInBaseCurrency] [decimal](19,4) NULL
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE OBJECT_ID = OBJECT_ID('INV.InventoryPurchaseInvoiceItem') AND
					[Name] = 'CostServiceAccountSLRef')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD [CostServiceAccountSLRef] [int] NULL
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE OBJECT_ID = OBJECT_ID('INV.InventoryPurchaseInvoiceItem') AND
					[Name] = 'InsuranceAmount')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD [InsuranceAmount] [decimal](19, 4) NULL
GO

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE OBJECT_ID = OBJECT_ID('INV.InventoryPurchaseInvoiceItem') AND
					[Name] = 'WithHoldingTaxAmount')
	ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD [WithHoldingTaxAmount] [decimal](19, 4) NULL
GO

IF EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('INV.InventoryPurchaseInvoiceItem') AND
		[Name] = 'Transporter')
	EXEC sp_rename 'INV.InventoryPurchaseInvoiceItem.Transporter', 'TransportDescription', 'COLUMN'

GO

GO

--****************************************************************
-- Change decimal digits of Quantity and SecondaryQuantity to 4

ALTER TABLE INV.InventoryPurchaseInvoiceItem ALTER COLUMN [Quantity] [decimal](19, 4) NOT NULL
ALTER TABLE INV.InventoryPurchaseInvoiceItem ALTER COLUMN [SecondaryQuantity] [decimal](19, 4) NULL
ALTER TABLE INV.InventoryPurchaseInvoiceItem ALTER COLUMN [RemainingQuantity] [decimal](19, 4) NOT NULL
ALTER TABLE INV.InventoryPurchaseInvoiceItem ALTER COLUMN [RemainingSecondaryQuantity] [decimal](19, 4) NULL

--****************************************************************


--<< PRIMARYKEY DEFINITION >>--

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE NAME = 'PK_InventoryPurchaseInvoiceItem')
ALTER TABLE [INV].[InventoryPurchaseInvoiceItem] ADD CONSTRAINT [PK_InventoryPurchaseInvoiceItem] PRIMARY KEY CLUSTERED 
(
	[InventoryPurchaseInvoiceItemID] ASC
) ON [PRIMARY]

GO

--<< DEFAULTS CHECKS DEFINITION >>--

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE NAME = 'DF_InventoryPurchaseInvoiceItem_RemainingQuantity')
ALTER TABLE [INV].[InventoryPurchaseInvoiceItem]
	ADD CONSTRAINT [DF_InventoryPurchaseInvoiceItem_RemainingQuantity]  DEFAULT ((0)) FOR [RemainingQuantity]
GO
--<< RULES DEFINITION >>--

--<< INDEXES DEFINITION >>--
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_InventoryPurchaseInvoiceItem_ItemRef')
CREATE NONCLUSTERED INDEX [IX_InventoryPurchaseInvoiceItem_ItemRef]
ON [INV].[InventoryPurchaseInvoiceItem] ([ItemRef])
GO
--<< FOREIGNKEYS DEFINITION >>--

IF EXISTS (SELECT 1 FROM sys.objects WHERE Name = 'FK_InventoryPurchaseInvoiceItem_InventoryPurchaseInvoice' )
	ALTER TABLE INV.InventoryPurchaseInvoiceItem
	DROP CONSTRAINT FK_InventoryPurchaseInvoiceItem_InventoryPurchaseInvoice
GO

If not Exists (select 1 from sys.objects where name = 'FK_InventoryPurchaseInvoiceItem_InventoryPurchaseInvoice')
ALTER TABLE INV.InventoryPurchaseInvoiceItem ADD CONSTRAINT FK_InventoryPurchaseInvoiceItem_InventoryPurchaseInvoice FOREIGN KEY
	( InventoryPurchaseInvoiceRef ) REFERENCES INV.InventoryPurchaseInvoice ( InventoryPurchaseInvoiceID )
	 ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
GO

If not Exists (select 1 from sys.objects where name = 'FK_InventoryPurchaseInvoiceItem_Item')
ALTER TABLE [INV].[InventoryPurchaseInvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_InventoryPurchaseInvoiceItem_Item] FOREIGN KEY([ItemRef])
REFERENCES [INV].[Item] ([ItemID])
GO

IF NOT EXISTS (SELECT 1 FROM sys.objects where name = 'FK_InvoiceItem_TracingRef')
ALTER TABLE [INV].[InventoryPurchaseInvoiceItem]  ADD  CONSTRAINT [FK_InvoiceItem_TracingRef] FOREIGN KEY([TracingRef])
REFERENCES [INV].[Tracing] ([TracingID])

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE name = 'FK_InventoryPurchaseInvoiceItem_PurchaseOrderItemRef')
ALTER TABLE [INV].[InventoryPurchaseInvoiceItem]  ADD  CONSTRAINT [FK_InventoryPurchaseInvoiceItem_PurchaseOrderItemRef] FOREIGN KEY([PurchaseOrderItemRef])
REFERENCES [POM].[PurchaseOrderItem] ([PurchaseOrderItemId])
GO