--<<FileName:PAY_SettlementItem.sql>>--
--<< TABLE DEFINITION >>--

If Object_ID('PAY.SettlementItem') Is Null
CREATE TABLE [PAY].[SettlementItem](
	[SettlementItemID] [int] NOT NULL,
	[SettlementRef] [int] NOT NULL,
	[RowNumber] [int] NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Description_En] [nvarchar](250) NULL,
	[Amount] [decimal](19, 4) NOT NULL,
	[AccoungSLRef] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Version] [int] NOT NULL
) ON [PRIMARY]

--<< ADD CLOLUMNS >>--

--<<Sample>>--
/*if not exists (select 1 from sys.columns where object_id=object_id('PAY.SettlementItem') and
				[name] = 'ColumnName')
begin
    Alter table PAY.SettlementItem Add ColumnName DataType Nullable
end
GO*/

--<< ALTER COLUMNS >>--

--<< PRIMARYKEY DEFINITION >>--

If not Exists (select 1 from sys.objects where name = 'PK_SettlementItem')
 ALTER TABLE [PAY].[SettlementItem] ADD CONSTRAINT [PK_SettlementItem] PRIMARY KEY CLUSTERED 
(
	[SettlementItemID] ASC
) ON [PRIMARY]

GO

--<< DEFAULTS CHECKS DEFINITION >>--

--<< RULES DEFINITION >>--

--<< INDEXES DEFINITION >>--

--<< FOREIGNKEYS DEFINITION >>--

If not Exists (select 1 from sys.objects where name = 'FK_SettlementItem_Account')
	ALTER TABLE [PAY].[SettlementItem]  WITH CHECK ADD  CONSTRAINT [FK_SettlementItem_Account] FOREIGN KEY([AccoungSLRef])
	REFERENCES [ACC].[Account] ([AccountId])

GO

If not Exists (select 1 from sys.objects where name = 'FK_SettlementItem_Settlement')
	ALTER TABLE [PAY].[SettlementItem]  WITH CHECK ADD  CONSTRAINT [FK_SettlementItem_Settlement] FOREIGN KEY([SettlementRef])
	REFERENCES [PAY].[Settlement] ([SettlementID])
	ON DELETE CASCADE
GO
