--<<FileName:PAY_Settlement.sql>>--
--<< TABLE DEFINITION >>--

If Object_ID('PAY.Settlement') Is Null
CREATE TABLE [PAY].[Settlement](
	[SettlementID] [int] NOT NULL,
	[ContractRef] [int] NOT NULL,
	[AccountingVoucherRef] [int] NULL,
	[NetPay] [decimal](19, 4) NULL,
	[NewYearBonusNet] [decimal](19, 4) NULL,
	[LeaveRepayment] [decimal](19, 4) NULL,
	[WorkingHistoryRepayment] [decimal](19, 4) NULL,
	[NotsettledShredAmount] [decimal](19, 4) NULL,
	[Total] [decimal](19, 4) NULL,
	[Description] [nvarchar](4000) NULL,
	[Creator] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifier] [int] NOT NULL,
	[LastModificationDate] [datetime] NOT NULL,
	[Version] [int] NOT NULL
) ON [PRIMARY]



--<< ADD CLOLUMNS >>--

--<<Sample>>--
/*if not exists (select 1 from sys.columns where object_id=object_id('PAY.Settlement') and
				[name] = 'ColumnName')
begin
    Alter table PAY.Settlement Add ColumnName DataType Nullable
end
GO*/

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE Object_id=object_id('PAY.Settlement') AND [name]='Description')
	ALTER TABLE PAY.Settlement ADD [Description] NVARCHAR(4000) NULL

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('PAY.Settlement') AND [name]='NotsettledShredAmount')
	ALTER TABLE PAY.Settlement ADD [NotsettledShredAmount] [decimal](19, 4) NULL

IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=object_id('PAY.Settlement') AND [name]='Total')
	ALTER TABLE PAY.Settlement ADD [Total] [decimal](19, 4) NULL

--<< ALTER COLUMNS >>--

--<< PRIMARYKEY DEFINITION >>--

If not Exists (select 1 from sys.objects where name = 'PK_Settlement')
ALTER TABLE [PAY].[Settlement] ADD CONSTRAINT [PK_Settlement] PRIMARY KEY CLUSTERED 
(
	[SettlementID] ASC
) ON [PRIMARY]

GO

--<< DEFAULTS CHECKS DEFINITION >>--

--<< RULES DEFINITION >>--

--<< INDEXES DEFINITION >>--

--<< FOREIGNKEYS DEFINITION >>--

If not Exists (select 1 from sys.objects where name = 'FK_Settlement_Contract')
BEGIN
	ALTER TABLE [PAY].[Settlement]  WITH CHECK ADD  CONSTRAINT [FK_Settlement_Contract] FOREIGN KEY([ContractRef])
	REFERENCES [PAY].[Contract] ([ContractId])
END

GO

If not Exists (select 1 from sys.objects where name = 'FK_Settlement_Voucher')
BEGIN
	ALTER TABLE [PAY].[Settlement]  WITH CHECK ADD  CONSTRAINT [FK_Settlement_Voucher] FOREIGN KEY([AccountingVoucherRef])
	REFERENCES [ACC].[Voucher] ([VoucherId])
END
GO

--<< DROP OBJECTS >>--
