/****** Object:  Table [PAY].[PiofyAttendanceFactorMapper]   ******/
   
GO
IF OBJECT_ID(N'PAY.PiofyAttendanceFactorMapper') IS NULL
	CREATE TABLE [PAY].[PiofyAttendanceFactorMapper](
		[PiofyAttendanceFactorMapperId]	[INT]		NOT NULL,
		[ElementRef]					[INT]		NOT NULL,
		[PiofyAttendanceFactorRef]		[INT]		NOT NULL,
		[Version]						[INT]		NOT NULL,
		[Creator]						[INT]		NOT NULL,
		[CreationDate]					[DATETIME]	NOT NULL,
		[LastModifier]					[INT]		NOT NULL,
		[LastModificationDate]			[DATETIME]	NOT NULL)
	 
--<< ADD CLOLUMNS >>--
--<< ALTER COLUMNS >>--
--<< PRIMARYKEY DEFINITION >>--
GO

If NOT EXISTS (select 1 from sys.objects where name = 'PK_PiofyAttendanceFactorMapper')
ALTER TABLE [PAY].[PiofyAttendanceFactorMapper] ADD  CONSTRAINT [PK_PiofyAttendanceFactorMapper] PRIMARY KEY CLUSTERED 
(
	[PiofyAttendanceFactorMapperId] ASC
) ON [PRIMARY]
GO


--<< DEFAULTS CHECKS DEFINITION >>--
--<< RULES DEFINITION >>--
--<< INDEXES DEFINITION >>--
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UIX_ElementRef_PiofyAttendanceFactorRef')
CREATE UNIQUE NONCLUSTERED INDEX [UIX_ElementRef_PiofyAttendanceFactorRef] ON PAY.PiofyAttendanceFactorMapper
(
		[ElementRef]				ASC,
		[PiofyAttendanceFactorRef]	ASC
) ON [PRIMARY]
GO

--<< FOREIGNKEYS DEFINITION >>--
If NOT EXISTS (select 1 from sys.objects where name = 'FK_PAY_PiofyAttendanceFactorMapper_ElementRef')
ALTER TABLE [PAY].[PiofyAttendanceFactorMapper] ADD  CONSTRAINT [FK_PAY_PiofyAttendanceFactorMapper_ElementRef] FOREIGN KEY(ElementRef)
REFERENCES [PAY].[Element](ElementId)

GO

If NOT EXISTS (select 1 from sys.objects where name = 'FK_PAY_PiofyAttendanceFactorMapper_PiofyAttendanceFactorRef')
ALTER TABLE [PAY].[PiofyAttendanceFactorMapper] ADD  CONSTRAINT [FK_PAY_PiofyAttendanceFactorMapper_PiofyAttendanceFactorRef] FOREIGN KEY(PiofyAttendanceFactorRef)
REFERENCES [PAY].[PiofyAttendanceFactor](PiofyAttendanceFactorId)

GO
--<< DROP OBJECTS >>--


 
