/****** Object:  Table [PAY].[PiofyAttendanceFactor]   ******/
   
GO
IF OBJECT_ID(N'PAY.PiofyAttendanceFactor') IS NULL
	CREATE TABLE [PAY].[PiofyAttendanceFactor](
		[PiofyAttendanceFactorId]	[INT]			NOT NULL,
		[Code]						[NVARCHAR](50)	NOT NULL,
		[MeasurementUnit]			[INT]			NOT NULL,
		[Title]						[NVARCHAR](250)	NOT NULL,
		[Title_En]					[NVARCHAR](250)	NOT NULL,
		[Version]					[INT]			NOT NULL,
		[Creator]					[INT]			NOT NULL,
		[CreationDate]				[DATETIME]		NOT NULL,
		[LastModifier]				[INT]			NOT NULL,
		[LastModificationDate]		[DATETIME]		NOT NULL)
	 

--<< ADD CLOLUMNS >>--
--<< ALTER COLUMNS >>--
--<< PRIMARYKEY DEFINITION >>--
GO

If NOT EXISTS (select 1 from sys.objects where name = 'PK_PiofyAttendanceFactor')
ALTER TABLE [PAY].[PiofyAttendanceFactor] ADD  CONSTRAINT [PK_PiofyAttendanceFactor] PRIMARY KEY CLUSTERED 
(
	[PiofyAttendanceFactorId] ASC
) ON [PRIMARY]
GO


--<< DEFAULTS CHECKS DEFINITION >>--
--<< RULES DEFINITION >>--
--<< INDEXES DEFINITION >>--
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UIX_Code')
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Code] ON PAY.PiofyAttendanceFactor
(
	[Code] ASC
) ON [PRIMARY]
GO

--<< FOREIGNKEYS DEFINITION >>--
--<< DROP OBJECTS >>--


 
