/****** Object:  Table [PAY].[PiofyMonthlyCalculation]   ******/
   
GO
IF OBJECT_ID(N'PAY.PiofyMonthlyCalculation') IS NULL
	CREATE TABLE [PAY].[PiofyMonthlyCalculation](
		[PiofyMonthlyCalculationId]	[INT]			NOT NULL,
		[YMCode]					[INT]			NOT NULL,
		[EmployeeID]				[INT]			NOT NULL,
		[FactorCode]				[NVARCHAR](50)	NOT NULL,
		[DayValue]					[INT]			NULL,
		[HourValue]					[INT]			NULL,
		[MinuteValue]				[INT]			NULL,
		[Version]					[INT]			NOT NULL,
		[Creator]					[INT]			NOT NULL,
		[CreationDate]				[DATETIME]		NOT NULL,
		[LastModifier]				[INT]			NOT NULL,
		[LastModificationDate]		[DATETIME]		NOT NULL)
	 

--<< ADD CLOLUMNS >>--
IF NOT EXISTS (SELECT 1 FROM SYS.COLUMNS WHERE OBJECT_ID = OBJECT_ID('PAY.PiofyMonthlyCalculation') AND
				[NAME] = 'State')
BEGIN
    ALTER TABLE PAY.[PiofyMonthlyCalculation] ADD [State] [INT] NOT NULL 
END
GO
--<< ALTER COLUMNS >>--
--<< PRIMARYKEY DEFINITION >>--
GO

If NOT EXISTS (select 1 from sys.objects where name = 'PK_PiofyMonthlyCalculation')
ALTER TABLE [PAY].[PiofyMonthlyCalculation] ADD  CONSTRAINT [PK_PiofyMonthlyCalculation] PRIMARY KEY CLUSTERED 
(
	[PiofyMonthlyCalculationId] ASC
) ON [PRIMARY]
GO


--<< DEFAULTS CHECKS DEFINITION >>--
--<< RULES DEFINITION >>--
--<< INDEXES DEFINITION >>--
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UIX_YMCode_EmployeeID_FactorCode')
CREATE UNIQUE NONCLUSTERED INDEX [UIX_YMCode_EmployeeID_FactorCode] ON PAY.PiofyMonthlyCalculation
(
	[YMCode]		ASC,
	[EmployeeID]	ASC,
	[FactorCode]	ASC
) ON [PRIMARY]
GO

--<< FOREIGNKEYS DEFINITION >>--
--<< DROP OBJECTS >>--


 
