--<<FileName:POM_PurchaseOrderItem.sql>>--
--<< TABLE DEFINITION >>--

If Object_ID('POM.PurchaseOrderItem') Is Null
CREATE TABLE [POM].[PurchaseOrderItem](
	[PurchaseOrderItemID] [int] NOT NULL,
	[PurchaseOrderRef] [int] NOT NULL,
	[BasePurchaseRequestItemRef] [int] NULL,
	[BasePerformaItemRef] [int] NULL,
	[RowNumber] [int] NOT NULL,
	[ItemRef] [int] NOT NULL,
	[TracingRef] [int] NULL,
	[Quantity] [decimal](19, 4) NOT NULL,
	[SecondaryQuantity] [decimal](19, 4) NULL,
	[Fee] [decimal](19,4) NOT NULL,
	[FeeInBaseCurrency] [decimal](19, 4) NULL,
	[Price] [decimal](19, 4) NOT NULL,
	[PriceInBaseCurrency] [decimal](19,4) NULL,
	[Discount] [decimal](19, 4) NULL,
	[DiscountInBaseCurrency] [decimal](19,4) NULL,
	[Addition] [decimal](19, 4) NULL,
	[AdditionInBaseCurrency] [decimal](19,4)NULL,
    [DeliveryDate] [DateTime] null,
	[Tax] [decimal](19, 4)  NOT NULL default(0),
	[TaxInBaseCurrency] [decimal](19,4)  NOT NULL default(0),
	[Duty] [decimal](19, 4)  NOT NULL default(0),
	[DutyInBaseCurrency] [decimal](19,4)  NOT NULL default(0),
	[InsuranceAmount] [decimal](19, 4)  NOT NULL default(0),
	[InsuranceAmountInBaseCurrency] [decimal](19,4) NOT NULL default(0),
	[NetPrice]  AS CONVERT([decimal](19,4), [Price]-ISNULL(Discount,0)+ISNULL(Addition,0)+Tax+Duty-InsuranceAmount) PERSISTED,
	[NetPriceInBaseCurrency][decimal](19, 4) NULL,
	[Description] [nvarchar](500) NULL,
	[Version] [int] NOT NULL
) ON [PRIMARY]

GO

--<< ADD CLOLUMNS >>--

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'BasePurchaseRequestItemRef')
begin
    Alter table POM.PurchaseOrderItem Add BasePurchaseRequestItemRef INT NULL
end

GO

--<< ALTER COLUMNS >>--


if exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'RemainingQuantity')
begin

alter table POM.PurchaseOrderItem drop column RemainingQuantity

end

GO

if exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'RemainingSecondaryQuantity')
begin

alter table POM.PurchaseOrderItem drop column RemainingSecondaryQuantity

end

GO


if exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'DiscountInBaseCurrentcy')
begin

EXEC sp_rename 'POM.PurchaseOrderItem.DiscountInBaseCurrentcy', 'DiscountInBaseCurrency', 'COLUMN';

end
GO

if exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'CurrencyRate')
begin

ALTER TABLE POM.PurchaseOrderItem DROP COLUMN CurrencyRate

end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'BasePerformaItemRef')
begin

ALTER TABLE POM.PurchaseOrderItem ADD [BasePerformaItemRef] [int] NULL

end

GO
if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'DeliveryDate')
begin
    Alter table POM.PurchaseOrderItem Add [DeliveryDate] [datetime] NULL
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'Tax')
begin
    Alter table POM.PurchaseOrderItem Add [Tax] [decimal](19, 4) NOT NULL DEFAULT(0)
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'TaxInBaseCurrency')
begin
    Alter table POM.PurchaseOrderItem Add [TaxInBaseCurrency] [decimal](19, 4) NOT NULL DEFAULT(0)
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'Duty')
begin
    Alter table POM.PurchaseOrderItem Add [Duty] [decimal](19, 4) NOT NULL DEFAULT(0)
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'DutyInBaseCurrency')
begin
    Alter table POM.PurchaseOrderItem Add [DutyInBaseCurrency] [decimal](19, 4) NOT NULL DEFAULT(0)
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'InsuranceAmount')
begin
    Alter table POM.PurchaseOrderItem Add [InsuranceAmount] [decimal](19, 4) NOT NULL DEFAULT(0)
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrderItem') and
				[name] = 'InsuranceAmountInBaseCurrency')
begin
    Alter table POM.PurchaseOrderItem Add [InsuranceAmountInBaseCurrency] [decimal](19, 4) NOT NULL DEFAULT(0)
end

GO


if exists (select 1 FROM sys.computed_columns where object_id=object_id('POM.PurchaseOrderItem')
                                                    and [name] = 'NetPrice'
                                                    and [definition] = '(CONVERT([decimal](19,4),([Price]-isnull([Discount],(0)))+isnull([Addition],(0)),0))')
begin
    Alter table POM.PurchaseOrderItem drop column NetPrice
    Alter table POM.PurchaseOrderItem Add NetPrice AS CONVERT([decimal](19,4), [Price]-ISNULL(Discount,0)+ISNULL(Addition,0)+Tax+Duty-InsuranceAmount) PERSISTED
end

GO

--<< PRIMARYKEY DEFINITION >>--

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE NAME = 'PK_PurchaseOrderItem')
ALTER TABLE [POM].[PurchaseOrderItem] ADD CONSTRAINT [PK_PurchaseOrderItem] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderItemID] ASC
) ON [PRIMARY]

GO

--<< DEFAULTS CHECKS DEFINITION >>--

IF EXISTS (SELECT 1 FROM sys.objects WHERE NAME = 'DF_PurchaseOrderItem_RemainingQuantity')
ALTER TABLE [POM].[PurchaseOrderItem]
	DROP CONSTRAINT [DF_PurchaseOrderItem_RemainingQuantity] 
GO

--<< RULES DEFINITION >>--

--<< INDEXES DEFINITION >>--

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_PurchaseOrderItem_ItemRef')
CREATE NONCLUSTERED INDEX [IX_PurchaseOrderItem_ItemRef]
ON [POM].[PurchaseOrderItem] ([ItemRef])

GO

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_PurchaseOrderItem_PurchaseOrderRef')
	CREATE NONCLUSTERED INDEX [IX_PurchaseOrderItem_PurchaseOrderRef]
		ON [POM].[PurchaseOrderItem] ([PurchaseOrderRef])
		
GO
--<< FOREIGNKEYS DEFINITION >>--

If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrderItem_PurchaseOrder')
ALTER TABLE POM.PurchaseOrderItem ADD CONSTRAINT FK_PurchaseOrderItem_PurchaseOrder FOREIGN KEY	( PurchaseOrderRef ) 
REFERENCES POM.PurchaseOrder ( PurchaseOrderID )
	 ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
GO

If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrderItem_Item')
ALTER TABLE [POM].[PurchaseOrderItem]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderItem_Item] FOREIGN KEY([ItemRef])
REFERENCES [INV].[Item] ([ItemID])

GO


IF NOT EXISTS (SELECT 1 FROM sys.objects where name = 'FK_PurchaseOrderItem_TracingRef')
ALTER TABLE [POM].[PurchaseOrderItem] ADD  CONSTRAINT [FK_PurchaseOrderItem_TracingRef] FOREIGN KEY([TracingRef])
REFERENCES [INV].[Tracing] ([TracingID])

Go

If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrderItem_BasePerformaItemRef')
ALTER TABLE [POM].[PurchaseOrderItem] ADD CONSTRAINT [FK_PurchaseOrderItem_BasePerformaItemRef] FOREIGN KEY([BasePerformaItemRef])
REFERENCES [POM].[PerformaItem] ([PerformaItemID])

GO

If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrderItem_BasePurchaseRequestItemRef')
ALTER TABLE [POM].[PurchaseOrderItem] ADD CONSTRAINT [FK_PurchaseOrderItem_BasePurchaseRequestItemRef] FOREIGN KEY([BasePurchaseRequestItemRef])
REFERENCES [POM].[PurchaseRequestItem] ([PurchaseRequestItemId])

GO
