--<<FileName:POM_PurchaseOrder.sql>>--
--<< TABLE DEFINITION >>--

If Object_ID('POM.PurchaseOrder') Is Null
CREATE TABLE [POM].[PurchaseOrder](
	[PurchaseOrderID] [int] NOT NULL,
	[Number] [NVARCHAR](40) NULL,
	[PurchasingType] [int] NOT NULL default(1),
	[VendorDLRef] [int] NOT NULL,
	[PerformaRef] [int] NULL,
	[PurchasingAgentPartyRef] [int] null,
	[DLRef] [int] NULL,
	[Date] [datetime] NOT NULL,
	[CurrencyRef] [int] NOT NULL,
	[CurrencyRate] [decimal](26, 16) NOT NULL,
	[TotalTax] [decimal](19, 4) NOT NULL default(0),
	[TotalTaxInBaseCurrency] [decimal](19, 4) NOT NULL default(0),
	[TotalDuty] [decimal](19, 4) NOT NULL default(0),
	[TotalDutyInBaseCurrency] [decimal](19, 4) NOT NULL default(0),
	[TotalInsuranceAmount] [decimal](19, 4) NOT NULL default(0),
	[TotalInsuranceAmountInBaseCurrency] [decimal](19, 4) NOT NULL default(0),
	[TotalPrice] [decimal](19, 4) NULL,
	[TotalPriceInBaseCurrency] [decimal](19, 4) NULL,
	[TotalNetPrice] [decimal](19, 4) NULL,
	[TotalNetPriceInBaseCurrency] [decimal](19, 4) NULL,
	[TotalDiscount] [decimal](19, 4) NULL,
	[TotalDiscountInBaseCurrency] [decimal](19, 4) NULL,
	[TotalAddition] [decimal](19, 4) NULL,
	[TotalAdditionInBaseCurrency] [decimal](19, 4) NULL,
	[IsActive] [bit] NOT NULL,
	[State] [int] NOT NULL,
	[Description] [nvarchar](250) NULL,
	[FiscalYearRef] [int] NOT NULL,
	[Creator] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifier] [int] NOT NULL,
	[LastModificationDate] [datetime] NOT NULL,
	[Version] [int] NOT NULL,
	
) ON [PRIMARY]

GO

--<< ADD CLOLUMNS >>--


if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'Number')
begin
    Alter table POM.PurchaseOrder Add [Number] [NVARCHAR](40) NULL
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'PurchasingType')
begin
    Alter table POM.PurchaseOrder Add [PurchasingType] [int] NOT NULL DEFAULT(1)
end

GO


if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'State')
begin
    Alter table POM.PurchaseOrder Add [State] [int] NOT NULL
end

GO

if not exists (select * from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'DLRef' and is_nullable = 1)
begin
    Alter table POM.PurchaseOrder alter column [DLRef] [int] NULL
end

GO

if not exists (select * from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'PerformaRef' and is_nullable = 1)
begin
    Alter table POM.PurchaseOrder alter column [PerformaRef] [int] NULL
end



GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
		[name] = 'PurchasingAgentPartyRef')
begin
    Alter table POM.PurchaseOrder Add PurchasingAgentPartyRef INT NULL
end
GO


if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'TotalTax')
begin
    Alter table POM.PurchaseOrder Add [TotalTax] [decimal](19, 4)  NOT NULL default(0)
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'TotalTaxInBaseCurrency')
begin
    Alter table POM.PurchaseOrder Add [TotalTaxInBaseCurrency] [decimal](19, 4)  NOT NULL default(0)
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'TotalDuty')
begin
    Alter table POM.PurchaseOrder Add [TotalDuty] [decimal](19, 4)  NOT NULL default(0)
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'TotalDutyInBaseCurrency')
begin
    Alter table POM.PurchaseOrder Add [TotalDutyInBaseCurrency] [decimal](19, 4)  NOT NULL default(0)
end

GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'TotalInsuranceAmount')
begin
    Alter table POM.PurchaseOrder Add [TotalInsuranceAmount] [decimal](19, 4)  NOT NULL default(0)
end
GO

if not exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'TotalInsuranceAmountInBaseCurrency')
begin
    Alter table POM.PurchaseOrder Add [TotalInsuranceAmountInBaseCurrency] [decimal](19, 4)  NOT NULL default(0)
end
GO


--<< ALTER COLUMNS >>--


if exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'Discount')
begin

EXEC sp_rename 'POM.PurchaseOrder.Discount', 'TotalDiscount', 'COLUMN';

end

GO

if exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'DiscountInBaseCurrency')
begin

EXEC sp_rename 'POM.PurchaseOrder.DiscountInBaseCurrency', 'TotalDiscountInBaseCurrency', 'COLUMN';

end

GO

if exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'Addition')
begin

EXEC sp_rename 'POM.PurchaseOrder.Addition', 'TotalAddition', 'COLUMN';

end

GO

if exists (select 1 from sys.columns where object_id=object_id('POM.PurchaseOrder') and
				[name] = 'AdditionInBaseCurrency')
begin

EXEC sp_rename 'POM.PurchaseOrder.AdditionInBaseCurrency', 'TotalAdditionInBaseCurrency', 'COLUMN';

end

IF  EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'UX_PurchaseOrder_Number_FiscalYear')
BEGIN 
	drop index UX_PurchaseOrder_Number_FiscalYear on POM.PurchaseOrder
END 
GO

--<< PRIMARYKEY DEFINITION >>--

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE NAME = 'PK_PurchaseOrder')
BEGIN
ALTER TABLE [POM].[PurchaseOrder] ADD CONSTRAINT [PK_PurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
) ON [PRIMARY]
END

GO

--<< DEFAULTS CHECKS DEFINITION >>--

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE NAME = 'DF_PurchaseOrder_CurrencyRate')
	ALTER TABLE [POM].[PurchaseOrder]
	ADD CONSTRAINT [DF_PurchaseOrder_CurrencyRate]  DEFAULT ((1)) FOR CurrencyRate

GO

--<< RULES DEFINITION >>--

--<< INDEXES DEFINITION >>--


IF EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_PurchaseOrder_VoucherRef')
begin

	DROP INDEX [IX_PurchaseOrder_VoucherRef] ON  [POM].[PurchaseOrder]
end

Go


--<< FOREIGNKEYS DEFINITION >>--

If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrder_Performa')
ALTER TABLE [POM].[PurchaseOrder]  ADD  CONSTRAINT [FK_PurchaseOrder_Performa] FOREIGN KEY([PerformaRef])
REFERENCES [POM].[Performa] ([PerformaId])

GO


If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrder_Currency')
ALTER TABLE [POM].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Currency] FOREIGN KEY([CurrencyRef])
REFERENCES [GNR].[Currency] ([CurrencyID])

GO

If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrder_DL')
ALTER TABLE [POM].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_DL] FOREIGN KEY([DLRef])
REFERENCES [ACC].[DL] ([DLId])

GO

If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrder_FiscalYear')
ALTER TABLE [POM].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_FiscalYear] FOREIGN KEY([FiscalYearRef])
REFERENCES [FMK].[FiscalYear] ([FiscalYearId])

GO

If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrder_VendorDL')
ALTER TABLE [POM].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_VendorDL] FOREIGN KEY([VendorDLRef])
REFERENCES [ACC].[DL] ([DLId])

GO

IF EXISTS (SELECT 1 FROM sys.objects WHERE Name= 'FK_PurchaseOrder_Voucher')
begin

	ALTER TABLE	[POM].[PurchaseOrder] DROP CONSTRAINT FK_PurchaseOrder_Voucher

end

GO

If not Exists (select 1 from sys.objects where name = 'FK_PurchaseOrder_PurchasingAgentPartyRef')
ALTER TABLE [POM].[PurchaseOrder]  ADD  CONSTRAINT [FK_PurchaseOrder_PurchasingAgentPartyRef] FOREIGN KEY([PurchasingAgentPartyRef])
REFERENCES [GNR].[Party] ([PartyId])

GO