<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SG.Contract.ContractOperation.UI.Properties.Settings.DAMAVANDsvpConnectionString"
            connectionString="Data Source=WS-890\SEPIDAR;Initial Catalog=DAMAVANDsvp;Persist Security Info=True;User ID=damavand"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>