<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.Sepidar520ConnectionString"
            connectionString="Data Source=WS-543\SEPIDAR;Initial Catalog=Sepidar520;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>