<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SG.General.MarketingDisketteManagement.Common.Properties.Settings.TTMSConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\خريد و فروش فصلي\TTMS.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="SG.General.MarketingDisketteManagement.Common.Properties.Settings.TTMSConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\AppSrc\SmallBusiness\Production\R4\SVP\Source\General\MarketingDisketteManagement\UI\Resources\TTMS.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="SG.General.MarketingDisketteManagement.Common.Properties.Settings.MaliatTTMSConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MaliatTTMS.mdb"
            providerName="System.Data.OleDb" />
        <add name="SG.General.MarketingDisketteManagement.Common.Properties.Settings.TTMS_96ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\AppSrc\SmallBusiness\Production\R5\SVP\Source\General\MarketingDisketteManagement\UI\Resources\TTMS_96.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>