<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AbramadWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AbramadWebServiceSoap1" />
                <binding name="AbramadWebServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="AbramadWebServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://portal.sepidarsystem.com/Abramadwebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="AbramadWebServiceSoap"
                contract="Common.AbramadWebServiceSoap" name="AbramadWebServiceSoap" />
            <endpoint address="https://portal.sepidarsystem.com/Abramadwebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="AbramadWebServiceSoap2"
                contract="AbramadWebService.AbramadWebServiceSoap" name="AbramadWebServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>