<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SmsWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SmsWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://club.sepidarsystem.com/smswebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="SmsWebServiceSoap"
                contract="MessageWebService.SmsWebServiceSoap" name="SmsWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>