if object_id('gnr.fnCalcAmountInBaseCurrency') is not null
drop function gnr.fnCalcAmountInBaseCurrency
go

CREATE FUNCTION [GNR].[fnCalcAmountInBaseCurrency](@Amount decimal(19, 4),  @Rate decimal(26, 16))  
RETURNS decimal(19, 4)
AS  
BEGIN  
	RETURN ROUND(@Amount * @Rate,  GNR.fnGetSystemCurrencyPrecisionCount())   
END
