If Object_ID('GNR.vwMarketingDiskette1396') Is Not Null
	Drop View GNR.vwMarketingDiskette1396
GO
CREATE VIEW GNR.vwMarketingDiskette1396
AS
	SELECT   MarketingDisketteID
			,year
			,Season
			,Type

			,Version
			,Creator
			,CreationDate
			,LastModifier
			,LastModificationDate
	FROM GNR.MarketingDiskette1396
GO
