/****** Object:  View [GNR].[vwMarketingDisketteCurrency]    Script Date: 7/12/2017 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[GNR].[vwMarketingDisketteCurrency]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [GNR].[vwMarketingDisketteCurrency]
AS
SELECT MarketingDisketteCurrencyID, Code, Ttile, Version, Creator, CreationDate, LastModifier, LastModificationDate
FROM    GNR.MarketingDisketteCurrency
' 
GO