If Object_ID('GNR.vwMarketingDiskettePartyMapper') Is Not Null
	Drop View GNR.vwMarketingDiskettePartyMapper
GO
CREATE VIEW GNR.vwMarketingDiskettePartyMapper
AS

SELECT MDPM.MarketingDiskettePartyMapperID, MDPM.PartyRef, P.DlRef PartyDlRef, P.DLCode AS PartyDLCode, P.DLTitle AS PartyDLTitle, P.Type AS PartyType,
                 P.IsCustomer AS PartyIsCustomer, P.IsVendor AS PartyIsVendor, P.IsBroker AS PartyIsBroker, MDPM.CustomerCategoryForTax95, 
                 MDPM.CustomerCategoryForTax96, MDPM.VendorCategoryForTax96, MDPM.VendorLocationRef, 
                 L.MinistryofFinanceCode AS VendorLocationMinistryofFinanceCode, L.Title AS VendorLocationTitle, MDPM.Version, MDPM.Creator, 
                 MDPM.CreationDate, MDPM.LastModifier, MDPM.LastModificationDate
FROM    GNR.vwParty P INNER JOIN
                 GNR.MarketingDiskettePartyMapper  MDPM ON P.PartyId = MDPM.PartyRef LEFT OUTER JOIN
                 GNR.Location L ON MDPM.VendorLocationRef = L.LocationId
 
GO
