/****** Object:  View [GNR].[vwMarketingDisketteCurrencyMapper]    Script Date: 7/12/2017 5:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[GNR].[vwMarketingDisketteCurrencyMapper]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [GNR].[vwMarketingDisketteCurrencyMapper]
AS
SELECT GNR.Currency.CurrencyID, GNR.Currency.Title AS CurrencyTitle, GNR.MarketingDisketteCurrencyMapper.MarketingDisketteCurrencyMapperID, GNR.MarketingDisketteCurrencyMapper.CurrencyRef, 
                 GNR.MarketingDisketteCurrencyMapper.MarketingDisketteCurrencyRef, GNR.MarketingDisketteCurrency.Code AS MarketingDisketteCurrencyCode, 
                 GNR.MarketingDisketteCurrency.Ttile AS MarketingDisketteCurrencyTtile, GNR.MarketingDisketteCurrencyMapper.Version, GNR.MarketingDisketteCurrencyMapper.Creator, 
                 GNR.MarketingDisketteCurrencyMapper.CreationDate, GNR.MarketingDisketteCurrencyMapper.LastModifier, GNR.MarketingDisketteCurrencyMapper.LastModificationDate
FROM    GNR.Currency INNER JOIN
                 GNR.MarketingDisketteCurrencyMapper ON GNR.Currency.CurrencyID = GNR.MarketingDisketteCurrencyMapper.CurrencyRef LEFT OUTER JOIN
                 GNR.MarketingDisketteCurrency ON GNR.MarketingDisketteCurrencyMapper.MarketingDisketteCurrencyRef = GNR.MarketingDisketteCurrency.MarketingDisketteCurrencyID
' 
GO