If Object_ID('GNR.vwCustomerOpeningBalance') Is Not Null
	Drop View GNR.vwCustomerOpeningBalance
GO
CREATE VIEW [GNR].[vwCustomerOpeningBalance]
AS
SELECT     GNR.PartyOpeningBalance.PartyOpeningBalanceID, GNR.PartyOpeningBalance.Type, GNR.PartyOpeningBalance.OpeningBalance, 
                      GNR.PartyOpeningBalance.PartyRef, GNR.PartyOpeningBalance.FiscalYearRef, FMK.FiscalYear.Title AS FiscalYearTitle, 
                      GNR.PartyOpeningBalance.OpeningBalanceType, GNR.PartyOpeningBalance.FeedFromClosingOperation
FROM         GNR.PartyOpeningBalance INNER JOIN
                      FMK.FiscalYear ON GNR.PartyOpeningBalance.FiscalYearRef = FMK.FiscalYear.FiscalYearId
WHERE     (GNR.PartyOpeningBalance.Type = 0)
