If Object_ID('GNR.vwMarketingDisketteItem1396') Is Not Null
	Drop View GNR.vwMarketingDisketteItem1396
GO
CREATE VIEW GNR.vwMarketingDisketteItem1396
AS
SELECT     B.MarketingDisketteItemID, B.MarketingDisketteRef, B.InvoiceRef, 
		   B.ReturnedInvoiceRef, B.InventoryReceiptRef, B.ReturnedInventoryReceiptRef, B.ServiceInventoryPurchaseInvoiceRef,
		   B.StatusRef, ST.Nature StatusNature,  ST.StatusRefType StatusRelationType,
		   B.AssetPurchaseInvoiceRef, B.AssetSaleRef, B.BillOfLoadingRef, B.InsurancePolicyRef, B.CustomsClearanceItemRef, CC.CustomsClearanceRef,
		   B.UsedInDiskette,
                      CASE WHEN B.InvoiceRef is not null THEN I.Number 
							WHEN B.ReturnedInvoiceRef is not null THEN RI.Number 
							WHEN B.InventoryReceiptRef is not null THEN (CASE WHEN IR.BasePurchaseInvoiceInvoiceNumber IS NOT NULL THEN IR.BasePurchaseInvoiceInvoiceNumber WHEN IR.BasePurchaseInvoiceNumber IS NOT NULL THEN IR.BasePurchaseInvoiceNumber ELSE IR.Number END) 
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.Number 
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN (CASE WHEN SIP.InvoiceNumber IS NOT NULL THEN SIP.InvoiceNumber ELSE SIP.Number END)
							WHEN B.StatusRef IS NOT NULL THEN ST.Number
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN (CASE WHEN API.InvoiceNumber IS NOT NULL THEN API.InvoiceNumber ELSE API.Number END)
							WHEN B.AssetSaleRef IS NOT NULL THEN S.Number
							WHEN B.BillOfLoadingRef IS NOT NULL THEN BOL.Number
							WHEN B.InsurancePolicyRef IS NOT NULL THEN INP.Number
							WHEN B.CustomsClearanceItemRef IS NOT NULL THEN CC.Number
					  END AS Number, 
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.Date 
							WHEN B.ReturnedInvoiceRef is not null THEN RI.Date
							WHEN B.InventoryReceiptRef is not null THEN IR.Date
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.Date
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.Date
							WHEN B.StatusRef IS NOT NULL THEN ST.Date
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.[Date]
							WHEN B.AssetSaleRef IS NOT NULL THEN S.[Date] 
							WHEN B.BillOfLoadingRef IS NOT NULL THEN BOL.[Date]
							WHEN B.InsurancePolicyRef IS NOT NULL THEN INP.[Date]
							WHEN B.CustomsClearanceItemRef IS NOT NULL THEN CC.[Date]
					  END AS Date,                       
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.NetPriceInBaseCurrency
							
							WHEN B.ReturnedInvoiceRef is not null THEN RI.NetPriceInBaseCurrency
							
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN
								(SELECT SUM(ISNULL(IRI.TransportPrice, 0)) + SUM(ISNULL(IRI.TransportTax, 0)) + SUM (ISNULL(IRI.TransportDuty, 0))
								 FROM INV.InventoryReceiptItem IRI 
								 WHERE IRI.InventoryReceiptRef = B.InventoryReceiptRef)
							
							WHEN B.InventoryReceiptRef is not null THEN (SELECT SUM(ISNULL(IRI.Price, 0)) + SUM(ISNULL(IRI.Tax,0)) + SUM(ISNULL(IRI.Duty,0))
																				 FROM INV.InventoryReceiptItem IRI
																				 WHERE  IRI.InventoryReceiptRef = B.InventoryReceiptRef)
							
							WHEN B.ReturnedInventoryReceiptRef is not null THEN (SELECT SUM(ISNULL(RIRI.Price, 0)) + SUM(ISNULL(RIRI.Tax,0)) + SUM(ISNULL(RIRI.Duty,0))
																				 FROM INV.InventoryReceiptItem RIRI
																				 WHERE RIRI.InventoryReceiptRef = B.ReturnedInventoryReceiptRef )

							
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN ISNULL((select Sum(ISNULL(NetPriceInBaseCurrency,0) ) from INV.vwServiceInventoryPurchaseInvoiceitem
																								Where InventoryPurchaseInvoiceref = SIP.InventoryPurchaseInvoiceID),0)
							
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN ISNULL((select Sum(ISNULL(NetPriceInBaseCurrency,0) ) from INV.vwAssetPurchaseInvoiceItem
																								Where InventoryPurchaseInvoiceRef = API.InventoryPurchaseInvoiceID ),0)
							
							
							WHEN B.AssetSaleRef IS NOT NULL THEN 
								(SELECT SUM(ISNULL(SI.SalePriceInBaseCurrency, 0)) + SUM(ISNULL(SI.TaxInBaseCurrency,0)) + SUM(ISNULL(SI.DutyInBaseCurrency,0))
								 FROM AST.SaleItem SI
								 WHERE SI.SaleRef = S.SaleID)

							WHEN B.BillOfLoadingRef is not null THEN BOL.TotalNetPriceInBaseCurrency
							WHEN B.InsurancePolicyRef is not null THEN INP.TotalNetPriceInBaseCurrency
							WHEN B.CustomsClearanceItemRef is not null THEN CC.AmountInBaseCurrency
					  
					  END AS AmountInBaseCurrency,                       
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.NetPrice
							
							WHEN B.ReturnedInvoiceRef is not null THEN RI.NetPrice
							
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN
								(SELECT SUM(ISNULL(IRI.TransportPrice, 0)) + SUM(ISNULL(IRI.TransportTax, 0)) + SUM (ISNULL(IRI.TransportDuty, 0)) 
								 FROM INV.InventoryReceiptItem IRI 
								 WHERE IRI.InventoryReceiptRef = B.InventoryReceiptRef)
							
							WHEN B.InventoryReceiptRef is not null THEN (SELECT SUM(ISNULL(IRI.Price, 0)) + SUM(ISNULL(IRI.Tax,0)) + SUM(ISNULL(IRI.Duty,0))
																				 FROM INV.InventoryReceiptItem IRI
																				 WHERE  IRI.InventoryReceiptRef = B.InventoryReceiptRef)
							
							WHEN B.ReturnedInventoryReceiptRef is not null THEN (SELECT SUM(ISNULL(RIRI.Price, 0)) + SUM(ISNULL(RIRI.Tax,0)) + SUM(ISNULL(RIRI.Duty,0))
																				 FROM INV.InventoryReceiptItem RIRI
																				 WHERE RIRI.InventoryReceiptRef = B.ReturnedInventoryReceiptRef )
							
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN ISNULL((select Sum(ISNULL(NetPrice,0) ) from INV.vwServiceInventoryPurchaseInvoiceitem
																								Where InventoryPurchaseInvoiceref = SIP.InventoryPurchaseInvoiceID),0)
							
							
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN ISNULL((select Sum(ISNULL(NetPrice,0) ) from INV.vwAssetPurchaseInvoiceItem
																								Where InventoryPurchaseInvoiceRef =API.InventoryPurchaseInvoiceID ),0)
							
							WHEN B.AssetSaleRef IS NOT NULL THEN 
								(SELECT SUM(ISNULL(SI.SalePrice, 0))  + SUM(ISNULL(SI.Tax,0)) + SUM(ISNULL(SI.Duty,0)) 
								 FROM AST.SaleItem SI
								 WHERE SI.SaleRef = S.SaleID) 

							WHEN B.BillOfLoadingRef is not null THEN BOL.TotalNetPrice
							WHEN B.InsurancePolicyRef is not null THEN INP.TotalNetPrice
							WHEN B.CustomsClearanceItemRef is not null THEN CC.Amount

					  END AS Amount,                       
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.CurrencyRef
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CurrencyRef
							WHEN B.InventoryReceiptRef is not null THEN null
							WHEN B.ReturnedInventoryReceiptRef is not null THEN null
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.CurrencyRef
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.CurrencyRef
							WHEN B.AssetSaleRef IS NOT NULL THEN S.CurrencyRef
							WHEN B.BillOfLoadingRef is not null THEN BOL.CurrencyRef
							WHEN B.InsurancePolicyRef is not null THEN INP.CurrencyRef
							WHEN B.CustomsClearanceItemRef is not null THEN CC.CurrencyRef
					  END AS CurrencyRef,                       
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.Rate
							WHEN B.ReturnedInvoiceRef is not null THEN RI.Rate
							WHEN B.InventoryReceiptRef is not null THEN null
							WHEN B.ReturnedInventoryReceiptRef is not null THEN null
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.CurrencyRate
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.CurrencyRate
							WHEN B.AssetSaleRef IS NOT NULL THEN S.CurrencyRate
							WHEN B.BillOfLoadingRef is not null THEN BOL.CurrencyRate
							WHEN B.InsurancePolicyRef is not null THEN INP.CurrencyRate
							WHEN B.CustomsClearanceItemRef is not null THEN CC.Currencyrate
					  END AS CurrencyRate,                       
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.CurrencyTitle
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CurrencyTitle
							WHEN B.InventoryReceiptRef is not null THEN null
							WHEN B.ReturnedInventoryReceiptRef is not null THEN null
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.CurrencyTitle
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.CurrencyTitle
							WHEN B.AssetSaleRef IS NOT NULL THEN S.CurrencyTitle
							WHEN B.BillOfLoadingRef is not null THEN BOL.CurrencyTitle
							WHEN B.InsurancePolicyRef is not null THEN INP.CurrencyTitle
							WHEN B.CustomsClearanceItemRef is not null THEN CC.CurrencyTitle
					  END AS CurrencyTitle,                       
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.CurrencyTitle_En
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CurrencyTitle_En
							WHEN B.InventoryReceiptRef is not null THEN null
							WHEN B.ReturnedInventoryReceiptRef is not null THEN null
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.CurrencyTitle_En
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.CurrencyTitle_En
							WHEN B.AssetSaleRef IS NOT NULL THEN S.CurrencyTitle_En
							WHEN B.BillOfLoadingRef is not null THEN BOL.CurrencyTitle_En
							WHEN B.InsurancePolicyRef is not null THEN INP.CurrencyTitle_En
							WHEN B.CustomsClearanceItemRef is not null THEN CC.CurrencyTitle_En
					  END AS CurrencyTitle_En,                       
					  
					  B.EntityFullName , 
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.VoucherNumber 
							WHEN B.ReturnedInvoiceRef is not null THEN RI.VoucherNumber 
							WHEN B.InventoryReceiptRef is not null THEN IR.AccountingVoucherNumber 
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.AccountingVoucherNumber 
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.AccountingVoucherNumber 
							WHEN B.StatusRef IS NOT NULL THEN ST.VoucherNumber
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.AccountingVoucherNumber
							WHEN B.AssetSaleRef IS NOT NULL THEN S.VoucherNumber
							WHEN B.BillOfLoadingRef is not null THEN BOL.VoucherNumber
							WHEN B.InsurancePolicyRef is not null THEN INP.VoucherNumber
							WHEN B.CustomsClearanceItemRef is not null THEN CC.VoucherNumber
					  END AS VoucherNumber,                       
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.VoucherDate
							WHEN B.ReturnedInvoiceRef is not null THEN RI.VoucherDate
							WHEN B.InventoryReceiptRef is not null THEN IR.AccountingVoucherDate
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.AccountingVoucherDate
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.AccountingVoucherDate
							WHEN B.StatusRef IS NOT NULL THEN ST.VoucherDate
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.AccountingVoucherDate
							WHEN B.AssetSaleRef IS NOT NULL THEN S.VoucherDate
							WHEN B.BillOfLoadingRef is not null THEN BOL.VoucherDate
							WHEN B.InsurancePolicyRef is not null THEN INP.VoucherDate
							WHEN B.CustomsClearanceItemRef is not null THEN CC.VoucherDate
					  END AS VoucherDate,
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.CustomerPartyDLRef
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CustomerPartyDLRef
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN IR.TransporterDLRef
							WHEN B.InventoryReceiptRef is not null THEN IR.DelivererDLRef
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.DelivererDLRef
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.VendorDLRef
							WHEN B.StatusRef IS NOT NULL THEN ST.ContractorDlRef
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.VendorDLRef
							WHEN B.AssetSaleRef IS NOT NULL THEN S.PartyDLRef
							WHEN B.BillOfLoadingRef is not null THEN BOL.TransporterDLRef
							WHEN B.InsurancePolicyRef is not null THEN INP.AgencyDLRef
							WHEN B.CustomsClearanceItemRef is not null THEN CC.DLRef
					  END AS PartyDLRef,
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.CustomerPartyName
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CustomerPartyName
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN IR.TransporterTitle
							WHEN B.InventoryReceiptRef is not null THEN IR.DelivererTitle
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.DelivererTitle
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.DLTitle
							WHEN B.StatusRef IS NOT NULL THEN ST.ContractorDlTitle
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.DLTitle
							WHEN B.AssetSaleRef IS NOT NULL THEN S.PartyName
							WHEN B.BillOfLoadingRef is not null THEN BOL.TransporterDLTitle
							WHEN B.InsurancePolicyRef is not null THEN INP.AgencyDLTitle
							WHEN B.CustomsClearanceItemRef is not null THEN CC.DlTitle
					  END AS PartyDLTitle,
                      
					  CASE WHEN B.InvoiceRef is not null THEN I.CustomerPartyName_En
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CustomerPartyName_En
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN IR.TransporterTitle_En
							WHEN B.InventoryReceiptRef is not null THEN IR.DelivererTitle_En
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.DelivererTitle_En
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.DLTitle_En
							WHEN B.StatusRef IS NOT NULL THEN ST.ContractorDlTitle_En
							WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.DLTitle_En
							WHEN B.AssetSaleRef IS NOT NULL THEN S.PartyTitle_En
							WHEN B.BillOfLoadingRef is not null THEN BOL.TransporterDLTitle_En
							WHEN B.InsurancePolicyRef is not null THEN INP.AgencyDLTitle_En
							WHEN B.CustomsClearanceItemRef is not null THEN CC.DlTitle_En
					  END AS PartyDLTitle_En,
					  
					  CASE WHEN B.StatusRef IS NOT NULL THEN ST.ContractorFullName END AS ContractorFullName, 
					  
					  CASE WHEN B.StatusRef IS NOT NULL THEN ST.ContractTitle END AS ContractTitle,
					  
					  CASE WHEN B.StatusRef IS NOT NULL THEN ST.ConfirmedCost END AS StatusCost,
					  
					  CASE WHEN B.StatusRef IS NOT NULL THEN ST.ContractFinalCost END AS ContractCost,
					  
					  p.Type as PartyType, p.SubType as PartySubType, 
					  
					  L.CountryMinistryofFinanceCode as PartyCountryMinistryofFinanceCode,
					  
					  L.StateMinistryofFinanceCode as PartyStateMinistryofFinanceCode,
					  
					  L.CityMinistryofFinanceCode as PartyCityMinistryofFinanceCode,
					  
					  L.Code as PartyCityCode,
					  
					  PA.Address PartyAddress,
					  PA.ZipCode AS PartyZipCode, 
					  P.Name PartyName , 
					  P.Lastname PartyLastName,
					  
					  case when P.Type = 1 then ''
						   when P.Type = 2 then EconomicCode 
						   end PartyEconomicCode,
					  
					  P.IdentificationCode PartyCode,

					  IsNull(CASE	WHEN B.InventoryReceiptRef is not null THEN IR.PurchaseType  
									WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.PurchaseType  
									WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN 1 /*InventoryReceiptPurchaseType.Purchase (Domestic)*/  
									WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN 1 /*InventoryReceiptPurchaseType.Purchase (Domestic)*/
									WHEN B.BillOfLoadingRef IS NOT NULL THEN 1
									WHEN B.InsurancePolicyRef IS NOT NULL THEN 1
									WHEN B.CustomsClearanceItemRef IS NOT NULL THEN 2
							 END ,IR.PurchaseType) AS PurchaseType,

					  B.ISDealTypeLowerThanMinPercent/*,
					  case when (Ir.Type = 1) and (IR.PurchaseType = 1) then 'عادي' 
					       when (Ir.Type = 1) and (IR.PurchaseType = 2) then 'خارجي' 
					       else ''
					  end PurchaseTypeTitle*/,
					   
					   B.IsTransport

FROM GNR.MarketingDisketteItem1396 AS B 
	LEFT OUTER JOIN SLS.vwReturnedInvoice AS RI ON B.ReturnedInvoiceRef = RI.ReturnedInvoiceId
	LEFT OUTER JOIN INV.vwServiceInventoryPurchaseInvoice AS SIP ON B.ServiceInventoryPurchaseInvoiceRef = SIP.InventoryPurchaseInvoiceID
	LEFT OUTER JOIN SLS.vwInvoice AS I ON B.InvoiceRef = I.InvoiceId 
	LEFT OUTER JOIN INV.vwInventoryReceipt AS IR ON B.InventoryReceiptRef = IR.InventoryReceiptID 
	LEFT OUTER JOIN INV.vwInventoryReceiptReturn AS RIR ON B.ReturnedInventoryReceiptRef = RIR.InventoryReceiptID 
	LEFT OUTER JOIN CNT.vwStatus AS ST ON B.StatusRef = ST.StatusID
	LEFT OUTER JOIN INV.vwAssetPurchaseInvoice As API ON API.InventoryPurchaseInvoiceID = B.AssetPurchaseInvoiceRef
	LEFT OUTER JOIN AST.vwSale AS S ON B.AssetSaleRef = S.SaleID
	LEFT OUTER JOIN POM.vwBillOfLoading AS BOL ON B.BillOfLoadingRef = BOL.BillOfLoadingID
	LEFT OUTER JOIN POM.vwInsurancePolicy AS INP ON B.InsurancePolicyRef = INP.InsurancePolicyID
	LEFT OUTER JOIN 
		(SELECT CCI.CustomsClearanceItemID, CCI.CustomsClearanceRef, VCC.Number, VCC.Date, ISNULL(CCI.PurchaseInvoiceItemNetPriceInBaseCurrency, 0) AS AmountInBaseCurrency,
			 ISNULL(CCI.PurchaseInvoiceItemNetPrice, 0) AS Amount, CCI.PurchaseInvoiceCurrencyRef CurrencyRef,
			 CCI.PurchaseInvoiceCurrencyrate Currencyrate, CCI.PurchaseInvoiceCurrencyTitle CurrencyTitle,
			 CCI.PurchaseInvoiceCurrencyTitle_En CurrencyTitle_En, VCC.VoucherNumber, VCC.VoucherDate, CCI.PurchaseInvoiceVendorDLRef AS DLRef,
			 CCI.PurchaseInvoiceVendorDLTitle AS DlTitle, CCI.PurchaseInvoiceVendorDLTitle_En AS DlTitle_En, CCI.PurchaseInvoiceVendorDLCode
		FROM POM.vwCustomsClearanceItem AS CCI 
			INNER JOIN POM.vwCustomsClearance AS VCC ON CCI.CustomsClearanceRef = VCC.CustomsClearanceID
		) AS CC ON B.CustomsClearanceItemRef = CC.CustomsClearanceItemID
	LEFT OUTER JOIN GNR.Party AS P ON P.DlRef = CASE WHEN B.InvoiceRef IS NOT NULL THEN I.CustomerPartyDLRef
													 WHEN B.ReturnedInvoiceRef IS NOT NULL THEN RI.CustomerPartyDLRef
													 WHEN B.InventoryReceiptRef IS NOT NULL AND B.IsTransport = 1 THEN IR.TransporterDLRef
													 WHEN B.InventoryReceiptRef IS NOT NULL THEN IR.DelivererDLRef
													 WHEN B.ReturnedInventoryReceiptRef IS NOT NULL THEN RIR.DelivererDLRef
													 WHEN B.ServiceInventoryPurchaseInvoiceRef IS NOT NULL THEN SIP.VendorDLRef
													 WHEN B.StatusRef IS NOT NULL THEN ST.ContractorDlRef
													 WHEN B.AssetPurchaseInvoiceRef IS NOT NULL THEN API.VendorDLRef
													 WHEN B.AssetSaleRef IS NOT NULL THEN S.PartyDLRef
													 WHEN B.CustomsClearanceItemRef IS NOT NULL THEN CC.DLRef
													 WHEN B.BillOfLoadingRef IS NOT NULL THEN BOL.TransporterDLRef
													 WHEN B.InsurancePolicyRef IS NOT NULL THEN INP.AgencyDLRef
												END  
	LEFT OUTER JOIN  GNR.PartyAddress PA ON P.PartyID = PA.PartyRef AND 
						(PA.IsMain = 1 OR (Select Count(*) from GNR.PartyAddress IPA where P.PartyID = IPA.PartyRef) = 1 ) Left Outer JOIN
							  GNR.vwLocationList L ON PA.LocationRef = L.LocationID
GO

