If Object_ID('GNR.vwMarketingDisketteItem') Is Not Null
	Drop View GNR.vwMarketingDisketteItem
GO
CREATE VIEW GNR.vwMarketingDisketteItem
AS
SELECT     B.MarketingDisketteItemID, B.MarketingDisketteRef, B.InvoiceRef, 
		   B.ReturnedInvoiceRef, B.InventoryReceiptRef, B.ReturnedInventoryReceiptRef, B.ServiceInventoryPurchaseInvoiceRef,
		   B.StatusRef, B.UsedInDiskette,B.IsRefusal,
                      CASE WHEN B.InvoiceRef is not null THEN I.Number 
							WHEN B.ReturnedInvoiceRef is not null THEN RI.Number 
							WHEN B.InventoryReceiptRef is not null THEN IR.Number 
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.Number 
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.Number
							WHEN B.StatusRef IS NOT NULL THEN ST.Number
					  END AS Number, 
                      CASE WHEN B.InvoiceRef is not null THEN I.Date 
							WHEN B.ReturnedInvoiceRef is not null THEN RI.Date
							WHEN B.InventoryReceiptRef is not null THEN IR.Date
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.Date
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.Date
							WHEN B.StatusRef IS NOT NULL THEN ST.Date
					  END AS Date,                       
                      CASE WHEN B.InvoiceRef is not null THEN I.NetPriceInBaseCurrency
							WHEN B.ReturnedInvoiceRef is not null THEN RI.NetPriceInBaseCurrency
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN
								(SELECT SUM(ISNULL(IRI.TransportPrice, 0)) + SUM(ISNULL(IRI.TransportTax, 0)) + SUM (ISNULL(IRI.TransportDuty, 0))
								 FROM INV.InventoryReceiptItem IRI 
								 WHERE IRI.InventoryReceiptRef = B.InventoryReceiptRef)
							WHEN B.InventoryReceiptRef is not null THEN IR.TotalPrice
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.TotalPrice
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.TotalNetPriceInBaseCurrency
					  END AS AmountInBaseCurrency,                       
                      CASE WHEN B.InvoiceRef is not null THEN I.NetPrice
							WHEN B.ReturnedInvoiceRef is not null THEN RI.NetPrice
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN
								(SELECT SUM(ISNULL(IRI.TransportPrice, 0)) + SUM(ISNULL(IRI.TransportTax, 0)) + SUM (ISNULL(IRI.TransportDuty, 0)) 
								 FROM INV.InventoryReceiptItem IRI 
								 WHERE IRI.InventoryReceiptRef = B.InventoryReceiptRef)
							WHEN B.InventoryReceiptRef is not null THEN IR.TotalPrice
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.TotalPrice
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.TotalNetPrice
					  END AS Amount,                       
                      CASE WHEN B.InvoiceRef is not null THEN I.CurrencyRef
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CurrencyRef
							WHEN B.InventoryReceiptRef is not null THEN null
							WHEN B.ReturnedInventoryReceiptRef is not null THEN null
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.CurrencyRef
					  END AS CurrencyRef,                       
                      CASE WHEN B.InvoiceRef is not null THEN I.CurrencyTitle
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CurrencyTitle
							WHEN B.InventoryReceiptRef is not null THEN null
							WHEN B.ReturnedInventoryReceiptRef is not null THEN null
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.CurrencyTitle
					  END AS CurrencyTitle,                       
                      CASE WHEN B.InvoiceRef is not null THEN I.CurrencyTitle_En
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CurrencyTitle_En
							WHEN B.InventoryReceiptRef is not null THEN null
							WHEN B.ReturnedInventoryReceiptRef is not null THEN null
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.CurrencyTitle_En
					  END AS CurrencyTitle_En,                       
					  B.EntityFullName , 
                      CASE WHEN B.InvoiceRef is not null THEN I.VoucherNumber 
							WHEN B.ReturnedInvoiceRef is not null THEN RI.VoucherNumber 
							WHEN B.InventoryReceiptRef is not null THEN IR.AccountingVoucherNumber 
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.AccountingVoucherNumber 
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.AccountingVoucherNumber 
							WHEN B.StatusRef IS NOT NULL THEN ST.VoucherNumber
					  END AS VoucherNumber,                       
                      CASE WHEN B.InvoiceRef is not null THEN I.VoucherDate
							WHEN B.ReturnedInvoiceRef is not null THEN RI.VoucherDate
							WHEN B.InventoryReceiptRef is not null THEN IR.AccountingVoucherDate
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.AccountingVoucherDate
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.AccountingVoucherDate
							WHEN B.StatusRef IS NOT NULL THEN ST.VoucherDate
					  END AS VoucherDate,
                      CASE WHEN B.InvoiceRef is not null THEN I.CustomerPartyDLRef
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CustomerPartyDLRef
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN IR.TransporterDLRef
							WHEN B.InventoryReceiptRef is not null THEN IR.DelivererDLRef
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.DelivererDLRef
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.VendorDLRef
							WHEN B.StatusRef IS NOT NULL THEN ST.ContractorDlRef
					  END AS PartyDLRef,
                      CASE WHEN B.InvoiceRef is not null THEN I.CustomerPartyName
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CustomerPartyName
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN IR.TransporterTitle
							WHEN B.InventoryReceiptRef is not null THEN IR.DelivererTitle
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.DelivererTitle
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.DLTitle
							WHEN B.StatusRef IS NOT NULL THEN ST.ContractorDlTitle
					  END AS PartyDLTitle,
                      CASE WHEN B.InvoiceRef is not null THEN I.CustomerPartyName_En
							WHEN B.ReturnedInvoiceRef is not null THEN RI.CustomerPartyName_En
							WHEN B.InventoryReceiptRef is not null AND IsTransport = 1 THEN IR.TransporterTitle_En
							WHEN B.InventoryReceiptRef is not null THEN IR.DelivererTitle_En
							WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.DelivererTitle_En
							WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN SIP.DLTitle_En
							WHEN B.StatusRef IS NOT NULL THEN ST.ContractorDlTitle_En
					  END AS PartyDLTitle_En,
					  CASE WHEN B.StatusRef IS NOT NULL THEN ST.ContractorFullName END AS ContractorFullName, 
					  CASE WHEN B.StatusRef IS NOT NULL THEN ST.ContractTitle END AS ContractTitle,
					  CASE WHEN B.StatusRef IS NOT NULL THEN ST.ConfirmedCost END AS StatusCost,
					  CASE WHEN B.StatusRef IS NOT NULL THEN ST.ContractFinalCost END AS ContractCost,
					  p.Type as PartyType, p.SubType as PartySubType, 
					  L.CountryMinistryofFinanceCode as PartyCountryMinistryofFinanceCode,
					  L.StateMinistryofFinanceCode as PartyStateMinistryofFinanceCode,
					  L.CityMinistryofFinanceCode as PartyCityMinistryofFinanceCode,
					  L.Code as PartyCityCode,
					  PA.Address PartyAddress, PA.ZipCode AS PartyZipCode, P.Name PartyName , P.Lastname PartyLastName,
					  case when P.Type = 1 then '' when P.Type = 2 then EconomicCode end PartyEconomicCode,
					  P.IdentificationCode PartyCode,
					  IsNull(CASE	WHEN B.InventoryReceiptRef is not null THEN IR.PurchaseType  
									WHEN B.ReturnedInventoryReceiptRef is not null THEN RIR.PurchaseType  
									WHEN B.ServiceInventoryPurchaseInvoiceRef is not null THEN 1 /*InventoryReceiptPurchaseType.Purchase (Domestic)*/  
							 END ,IR.PurchaseType) AS PurchaseType,
					  B.ISDealTypeLowerThanTenPercent/*,
					  case when (Ir.Type = 1) and (IR.PurchaseType = 1) then 'عادي' 
					       when (Ir.Type = 1) and (IR.PurchaseType = 2) then 'خارجي' 
					       else ''
					  end PurchaseTypeTitle*/,
					   B.IsTransport
FROM GNR.MarketingDisketteItem AS B 
	LEFT OUTER JOIN SLS.vwReturnedInvoice AS RI ON B.ReturnedInvoiceRef = RI.ReturnedInvoiceId
	LEFT OUTER JOIN INV.vwServiceInventoryPurchaseInvoice AS SIP ON B.ServiceInventoryPurchaseInvoiceRef = SIP.InventoryPurchaseInvoiceID
	LEFT OUTER JOIN SLS.vwInvoice AS I ON B.InvoiceRef = I.InvoiceId 
	LEFT OUTER JOIN INV.vwInventoryReceipt AS IR ON B.InventoryReceiptRef = IR.InventoryReceiptID 
	LEFT OUTER JOIN INV.vwInventoryReceiptReturn AS RIR ON B.ReturnedInventoryReceiptRef = RIR.InventoryReceiptID 
	LEFT OUTER JOIN CNT.vwStatus AS ST ON B.StatusRef = ST.StatusID
	LEFT OUTER JOIN GNR.Party AS P ON P.DlRef = CASE WHEN B.InvoiceRef IS NOT NULL THEN I.CustomerPartyDLRef
													 WHEN B.ReturnedInvoiceRef IS NOT NULL THEN RI.CustomerPartyDLRef
													 WHEN B.InventoryReceiptRef IS NOT NULL AND B.IsTransport = 1 THEN IR.TransporterDLRef
													 WHEN B.InventoryReceiptRef IS NOT NULL THEN IR.DelivererDLRef
													 WHEN B.ReturnedInventoryReceiptRef IS NOT NULL THEN RIR.DelivererDLRef
													 WHEN B.ServiceInventoryPurchaseInvoiceRef IS NOT NULL THEN SIP.VendorDLRef
													 WHEN B.StatusRef IS NOT NULL THEN ST.ContractorDlRef
												END  
	LEFT OUTER JOIN  GNR.PartyAddress PA ON P.PartyID = PA.PartyRef AND 
						(PA.IsMain = 1 OR (Select Count(*) from GNR.PartyAddress IPA where P.PartyID = IPA.PartyRef) = 1 ) Left Outer JOIN
							  GNR.vwLocationList L ON PA.LocationRef = L.LocationID
