
/****** Object:  View [INV].[vwInventoryPurchaseInvoiceItem]    Script Date: 04/23/2009 17:11:24 ******/

IF OBJECT_ID('INV.vwInventoryPurchaseInvoiceItem') IS NOT NULL
	DROP VIEW INV.[vwInventoryPurchaseInvoiceItem]
GO
CREATE VIEW [INV].[vwInventoryPurchaseInvoiceItem]
AS
SELECT  IPI.InventoryPurchaseInvoiceItemID, IPI.InventoryPurchaseInvoiceRef, IPI.RowNumber, IPI.ItemRef, It.Code AS ItemCode, 
		IPI.PurchaseOrderItemRef , POI.PurchaseOrderNumber, POI.RemainingQuantity AS PurchaseOrderItemRemainingQuantity,
		It.BarCode AS BarCode, It.Title AS ItemTitle, It.Title_En AS ItemTitle_En, It.UnitRef, It.SecondaryUnitRef, 
		It.IsUnitRatioConstant, It.UnitsRatio,
		It.SerialTracking,
		It.PropertyAmounts,
		IPI.Quantity, IPI.SecondaryQuantity, IPI.CurrencyRate, IPI.Fee, 
		IPI.FeeInBaseCurrency, IPI.Price, IPI.PriceInBaseCurrency, IPI.Discount, IPI.DiscountInBaseCurrentcy, IPI.Tax, 
		IPI.TaxInBaseCurrency, IPI.Duty, IPI.DutyInBaseCurrency, IPI.TransportPrice, IPI.TransportPriceInBaseCurrency, 
		IPI.TransportTax, IPI.TransportTaxInBaseCurrency, IPI.TransportDuty, IPI.TransportDutyInBaseCurrency, 
		IPI.TransportDescription, IPI.NetPrice, IPI.NetPriceInBaseCurrency, IPI.[Description], IPI.Description_En, 
		IPI.[Version], IP.Number AS InventoryPurchaseInvoiceNumber, IP.[Date] AS InventoryPurchaseInvoiceDate, 
		It.TracingCategoryRef, It.TaxExemptPurchase AS TaxExempt,GR.CalculationFormulaRef AS CalculationFormulaRef,
        IPI.Addition, IPI.AdditionInBaseCurrency, IPI.TracingRef,  T.Title AS TracingTitle
FROM    INV.vwItem AS It 
	INNER JOIN INV.InventoryPurchaseInvoiceItem AS IPI ON It.ItemID = IPI.ItemRef 
	INNER JOIN INV.InventoryPurchaseInvoice AS IP ON IPI.InventoryPurchaseInvoiceRef = IP.InventoryPurchaseInvoiceID
	LEFT OUTER JOIN INV.TracingCategory AS TC ON It.TracingCategoryRef = TC.TracingCategoryID
	LEFT OUTER JOIN INV.Tracing AS T ON IPI.TracingRef = T.TracingID AND TC.TracingCategoryID = T.TracingCategoryRef
	LEFT OUTER JOIN GNR.[Grouping] GR ON It.PurchaseGroupRef=GR.GroupingID
	LEFT OUTER JOIN POM.[vwPurchaseOrderItem] AS POI ON [IPI].[PurchaseOrderItemRef] = POI.PurchaseOrderItemID 
WHERE IP.[Type] = 1 /* InventoryPurchaseInvoiceType.Normal = 1*/
GO
