If Object_ID('INV.vwItemStock') Is Not Null
	Drop View INV.vwItemStock
GO
CREATE VIEW [INV].[vwItemStock]
AS
SELECT     [IS].ItemStockID, [IS].ItemRef, [IS].StockRef, [IS].Version, I.Code AS ItemCode, I.Title AS ItemTitle, I.Title_En AS ItemTitle_En, S.Code AS StockCode, 
                      S.Title AS StockTitle, S.Title_En AS StockTitle_En
FROM         INV.ItemStock AS [IS] INNER JOIN
                      INV.Item AS I ON [IS].ItemRef = I.ItemID INNER JOIN
                      INV.Stock AS S ON [IS].StockRef = S.StockID

GO
