
/****** Object:  View [INV].[vwInventoryPurchaseInvoice]    Script Date: 04/23/2009 17:10:24 ******/
IF OBJECT_ID('INV.vwInventoryPurchaseInvoice') IS NOT NULL
	DROP VIEW INV.[vwInventoryPurchaseInvoice]
GO
CREATE VIEW [INV].[vwInventoryPurchaseInvoice]
AS
SELECT  [IP].InventoryPurchaseInvoiceID, [IP].VendorDLRef, ACC.DL.Code AS DLCode, ACC.DL.Title AS DLTitle, ACC.DL.Title_En AS DLTitle_En, [IP].Number, 
		[IP].[PurchasingAgentPartyRef],
		Agent.DlCode AS PurchasingAgentDlCode, Agent.DlTitle AS PurchasingAgentDlTitle, Agent.DlTitle_En AS PurchasingAgentDlTitle_En,
		[PurchaseOrderRef],PO.[Date] AS PurchaseOrderDate,
	    CASE WHEN PO.PurchasingType=2 THEN PO.[Number] ELSE PO.DLCode END AS PurchaseOrderNumber,
        [IP].InvoiceNumber, [IP].[Date], [IP].CurrencyRef, GNR.Currency.Title AS CurrencyTitle, GNR.Currency.Title_En AS CurrencyTitle_En, [IP].CurrencyRate, 
        [IP].TotalPrice,[IP].TotalPriceInBaseCurrency,
		[IP].TotalTax,[GNR].[fnCalcAmountInBaseCurrency]([IP].[TotalTax], [IP].[CurrencyRate]) AS [TotalTaxInBaseCurrency],
		[IP].TotalDuty, [GNR].[fnCalcAmountInBaseCurrency]([IP].[TotalDuty], [IP].[CurrencyRate]) AS [TotalDutyInBaseCurrency],
		[IP].TotalTransportPrice, [GNR].[fnCalcAmountInBaseCurrency]([IP].[TotalTransportPrice], [IP].[CurrencyRate]) AS [TotalTransportPriceInBaseCurrency],
		[IP].TotalNetPrice,[IP].TotalNetPriceInBaseCurrency,
		[IP].FiscalYearRef, [IP].Creator, [IP].CreationDate, [IP].LastModifier, 
        [IP].LastModificationDate, [IP].[Version], [IP].PaymentHeaderRef, [IP].[Type], RPA.PaymentHeader.Number PaymentNumber, RPA.PaymentHeader.[Date] PaymentDate,
        U.[Name] AS CreatorName, U.Name_En AS CreatorName_En, C.PrecisionCount AS CurrencyPrecisionCount,
        ISNULL(IPI.Addition ,0) AS Addition, ISNULL(IPI.additionInBaseCurrency,0) AS AdditionInBaseCurrency,
		ISNULL(IPI.Discount, 0) AS Discount, ISNULL(IPI.DiscountInBaseCurrentcy, 0) AS DiscountInBaseCurrentcy
FROM INV.InventoryPurchaseInvoice AS [IP]
	INNER JOIN ACC.DL ON [IP].VendorDLRef = ACC.DL.DLId 
	INNER JOIN GNR.Currency ON [IP].CurrencyRef = GNR.Currency.CurrencyID 
	LEFT JOIN RPA.PaymentHeader ON [IP].PaymentHeaderRef = RPA.PaymentHeader.PaymentHeaderId 
	LEFT JOIN FMK.[User] AS U ON ([IP].Creator = U.UserID)
	LEFT JOIN 	  GNR.[vwParty] AS Agent ON [IP].[PurchasingAgentPartyRef] = Agent.PartyID 
	LEFT JOIN 	  POM.[vwPurchaseOrder] AS PO ON [IP].[PurchaseOrderRef] = PO.PurchaseOrderID 
	LEFT JOIN GNR.Currency AS C ON [IP].CurrencyRef = C.CurrencyID 	
	LEFT JOIN (
				SELECT	InventoryPurchaseInvoiceREf , 
						SUM(ISNULL(Addition,0)) AS Addition, SUM(ISNULL(AdditionInBaseCurrency,0)) AS AdditionInBaseCurrency,
						SUM(ISNULL(Discount,0)) AS Discount, SUM(ISNULL(DiscountInBaseCurrentcy,0)) AS DiscountInBaseCurrentcy
				From INV.vwInventoryPurchaseInvoiceitem 
				GROUP BY InventoryPurchaseInvoiceREf) IPI ON [IP].InventoryPurchaseInvoiceID = IPI.InventoryPurchaseInvoiceREf
WHERE [IP].[Type] = 1 /* InventoryPurchaseInvoiceType.Normal = 1*/
GO