If Object_ID('PAY.vwSettlementItem') Is Not Null
	Drop View PAY.vwSettlementItem
GO
CREATE VIEW [PAY].[vwSettlementItem]
AS
SELECT     SI.SettlementItemID, SI.SettlementRef, SI.RowNumber, SI.Description, SI.Description_En, SI.Amount, SI.AccoungSLRef, SI.Type, SI.Version, 
                      ACC.FullCode AS AccountSLCode, ACC.Title_En AS AccountSLTitle, ACC.Title AS AccountSLTitle_En
FROM         PAY.SettlementItem AS SI INNER JOIN
                      ACC.vwAccount AS ACC ON SI.AccoungSLRef = ACC.AccountId
GO
