If Object_ID('PAY.vwSettlement') Is Not Null
	Drop View PAY.vwSettlement
GO
CREATE VIEW [PAY].[vwSettlement]
AS
SELECT     S.SettlementID, S.ContractRef, S.AccountingVoucherRef, S.NetPay, S.NewYearBonusNet, S.LeaveRepayment, S.WorkingHistoryRepayment, S.NotSettledShredAmount, S.Total,
           S.Creator, S.CreationDate, S.LastModifier, S.LastModificationDate, S.Version, C.PersonnelRef, C.PersonnelTitle, C.PersonnelCode, 
           C.IssueDate AS ContractIssueDate, C.EndDate AS ContractEndDate, C.EmploymentDate, C.EmploymentType, C.Number AS ContractNumber, 
           C.PersonnelDLRef, V.Number AS AccountingVoucherNumber, V.Date AS AccountingVoucherDate, S.Description,
           P.FatherName AS PersonnelFatherName, P.BirthIdentity AS PersonnelBirthIdentity,
           P.IdentificationCode AS PersonnelIdentificationCode, P.LocationTitle AS PersonnelBirthLocationTitle,
           C.JobTitle, C.WorkSiteTitle, C.CostCenterDLRef
FROM         PAY.Settlement AS S INNER JOIN
             PAY.vwContract AS C ON S.ContractRef = C.ContractId INNER JOIN
             PAY.vwPersonnel AS P ON P.PersonnelId = C.PersonnelRef LEFT JOIN
             ACC.Voucher AS V ON S.AccountingVoucherRef = V.VoucherID


GO
