 If Object_ID('pom.vwPerformaItem') Is Not Null
	Drop View pom.vwPerformaItem
GO

CREATE VIEW [POM].[vwPerformaItem]
AS
SELECT PRI.PerformaItemID
      , PRI.PerformaRef
      , PRI.RowNumber
      , PRI.PurchaseRequestItemRef , Purchase.PurchaseRequestNumber
      , PRI.ItemRef,  It.Code AS ItemCode , It.[Type] AS ItemType , It.TaxExemptPurchase AS ItemTaxExempt
	  ,	It.BarCode AS BarCode,  It.Title AS ItemTitle,  It.Title_En AS ItemTitle_En,  It.UnitRef, It.UnitTitle,  It.SecondaryUnitRef , It.MaximumAmount AS ItemMaximumAmount , It.MinimumAmount AS ItemMinimumAmount , It.TaxRate AS ItemTaxRate , It.DutyRate AS ItemDutyRate
	  , It.UnitsRatio AS UnitsRatio
	  ,	It.IsUnitRatioConstant AS IsUnitRatioConstant, It.TracingCategoryRef
	  , CASE WHEN It.TracingCategoryRef IS NULL THEN 0 ELSE 1 END AS ItemHasTracing
      , PRI.TracingRef ,   T.Title AS TracingTitle
      , GR.CalculationFormulaRef AS CalculationFormulaRef
      , PRI.DeliveryDate
      , PRI.Quantity
      , PRI.SecondaryQuantity
      , PRI.Fee
      , PRI.FeeInBaseCurrency
      , PRI.Price
      , PRI.PriceInBaseCurrency
      , PRI.Discount
      , PRI.DiscountInBaseCurrency
      , PRI.Tax
      , PRI.TaxInBaseCurrency
      , PRI.Duty
      , PRI.DutyInBaseCurrency
      , PRI.InsuranceAmount
      , PRI.InsuranceAmountInBaseCurrency
      , PRI.Addition
      , PRI.AdditionInBaseCurrency
      , PRI.NetPrice
      , PRI.NetPriceInBaseCurrency
      , PRI.Description
      
  FROM POM.PerformaItem PRI
	INNER JOIN INV.vwItem AS It ON PRI.Itemref =It.ItemID
	LEFT OUTER JOIN INV.TracingCategory AS TC ON It.TracingCategoryRef = TC.TracingCategoryID
	LEFT OUTER JOIN INV.Tracing AS T ON PRI.TracingRef = T.TracingID AND TC.TracingCategoryID = T.TracingCategoryRef
    LEFT OUTER JOIN GNR.[Grouping] GR ON It.PurchaseGroupRef = GR.GroupingID
    LEFT OUTER JOIN POM.vwPurchaseRequestItem AS Purchase ON PRI.PurchaseRequestItemRef = Purchase.PurchaseRequestItemID