
/****** Object:  View [POM].[vwPurchaseOrder] ******/
IF OBJECT_ID('POM.vwPurchaseOrder') IS NOT NULL
	DROP VIEW POM.[vwPurchaseOrder]
GO
CREATE VIEW [POM].[vwPurchaseOrder]
AS
SELECT  PO.PurchaseOrderID
	,PO.VendorDLRef
    ,PO.PurchasingAgentPartyRef
	,VendorDL.Code AS VendorDLCode
	,VendorDL.Title AS VendorDLTitle
	,VendorDL.Title_En AS VendorDLTitle_En
	,Vendor.PartyId AS VendorPartyId
	,PO.PerformaRef
	,P.Number PerformaNumber
	,p.[Date] PerformaDate
	,p.CurrencyRef PerformaCurrencyRef
	,p.CurrencyTitle PerformaCurrencyTitle
	,PO.DLRef
	,DL.Code AS DLCode
	,DL.Title AS DLTitle
	,DL.Title_En AS DLTitle_En
	,PO.[Date]
	,PO.CurrencyRef
	,C.Title AS CurrencyTitle
	,C.Title_En AS CurrencyTitle_En
	,C.PrecisionCount AS CurrencyPrecisionCount
	,PO.CurrencyRate 
	,PO.[TotalTax]
	,PO.[TotalTaxInBaseCurrency]
	,PO.[TotalDuty]
	,PO.[TotalDutyInBaseCurrency]
	,PO.[TotalInsuranceAmount]
	,PO.[TotalInsuranceAmountInBaseCurrency] 
    ,PO.TotalPrice
	,PO.TotalPriceInBaseCurrency
	,PO.TotalNetPrice
	,PO.TotalNetPriceInBaseCurrency
	,PO.TotalDiscount
	,PO.TotalDiscountInBaseCurrency
	,PO.TotalAddition
	,PO.TotalAdditionInBaseCurrency
	,PO.IsActive
	,PO.[State]
	,PO.[Description]
	,PO.FiscalYearRef
	,PO.Creator
	,U.[Name] AS CreatorName
	,U.Name_En AS CreatorName_En
	,PO.CreationDate
	,PO.LastModifier
	,MU.[Name] LastModifierName
	,MU.Name_En LastModifierName_EN
    ,PO.LastModificationDate
	,PO.[Version]
	,PO.[PurchasingType]
	,PO.[Number]
	,CASE WHEN PO.PurchasingType = 1 THEN DL.Code ELSE PO.Number END AS RelatedNumber
    ,Agent.Type
    ,AgentDL.Code AS PurchasingAgentDlCode,
     AgentDL.Title AS PurchasingAgentDlTitle,
     AgentDL.Title_En AS PurchasingAgentDlTitle_En
FROM POM.PurchaseOrder AS PO
	INNER JOIN ACC.DL VendorDL ON PO.VendorDLRef = VendorDL.DLId 
	INNER JOIN GNR.Currency C ON PO.CurrencyRef = C.CurrencyID
	LEFT JOIN ACC.DL DL ON PO.DLRef = DL.DLId
	LEFT JOIN POM.vwPerforma P ON PO.PerformaRef = P.PerformaID
	LEFT JOIN FMK.[User] AS U ON PO.Creator = U.UserID
	LEFT JOIN FMK.[User] AS MU ON PO.LastModifier = MU.UserID
    LEFT JOIN GNR.[Party] AS Agent ON PO.[PurchasingAgentPartyRef] = Agent.PartyID
	LEFT JOIN GNR.[Party] AS Vendor ON PO.VendorDLRef = Vendor.DlRef
    LEFT JOIN ACC.DL AgentDL ON Agent.DLRef = AgentDL.DLId
	


