If Object_ID('pom.vwPerforma') Is Not Null
	Drop View pom.vwPerforma
GO

CREATE VIEW [POM].[vwPerforma]
AS

SELECT p.PerformaID, p.VendorDLRef,  DL.Code AS VendorDlCode, DL.Title AS VendorDLTitle, DL.Title_En AS VendorDLTitle_En
      , p.PurchasingType
      , p.Number
      , p.PerformaNumber
      , p.Date 
      , p.ValidityDate
      , p.CurrencyRef
      , p.CurrencyRate
	  , C.Title CurrencyTitle
	  , C.Title_En CurrencyTitle_En
	  , C.PrecisionCount CurrencyPrecisionCount
      , p.TransportType
      , p.ContractType
      ,[PurchasingAgentPartyRef],
	    Agent.DlCode AS PurchasingAgentDlCode, Agent.DlTitle AS PurchasingAgentDlTitle, Agent.DlTitle_En AS PurchasingAgentDlTitle_En
      , p.PaymentMethod
      , p.Description
      , p.Price
      , p.PriceInBaseCurrency
      , p.NetPrice
      , p.NetPriceInBaseCurrency
      , p.Discount
      , p.DiscountInBaseCurrency
      , ISNULL(p.Tax,0) AS Tax
      , ISNULL(p.TaxInBaseCurrency,0) AS TaxInBaseCurrency
      , p.Duty
      , p.DutyInBaseCurrency
      , p.InsuranceAmount
      , p.InsuranceAmountInBaseCurrency
      , p.Addition
      , p.AdditionInBaseCurrency
      , p.State
	  , p.FiscalYearRef
	  , PAR.EconomicCode AS SupplierEconomicCode
	  , PAR.IdentificationCode AS SupplierIdentificationCode
	  , LL.[State] AS SupplierState
	  , PAD.ZipCode
	  , LL.City AS SupplierCity
	  , PAD.[Address] AS PartyAddress
	  ,(
			SELECT TOP (1) Phone
			FROM GNR.PartyPhone AS PH
            WHERE ([PAR].[PartyId] = [PH].[PartyRef]) AND (Type = 1 OR IsMain = 1) ORDER BY IsMain DESC
		) AS PartyPhone
      , p.Creator, UC.Name AS CreatorName, UC.Name_En AS CreatorName_En
      , p.CreationDate
      , p.LastModifier, ULM.Name AS LastModifierName, ULM.Name_En AS LastModifierName_En
      , p.LastModificationDate
      , p.Version
   FROM POM.performa P
  INNER JOIN aCC.DL DL ON P.VendorDLRef = DL.DLId
  INNER JOIN GNR.Currency C ON P.CurrencyRef = C.CurrencyID
  INNER JOIN [GNR].[Party] AS PAR ON PAR.DLRef = DL.DLId
  LEFT OUTER JOIN 	  GNR.[vwParty] AS Agent ON P.[PurchasingAgentPartyRef] = Agent.PartyID 
  LEFT OUTER JOIN     (SELECT * FROM [GNR].[PartyAddress] WHERE IsMain = 1) AS PAD ON PAD.PartyRef = PAR.PartyId
  LEFT OUTER JOIN     [GNR].[vwLocationList] AS LL ON LL.LocationId = PAD.LocationRef
  LEFT OUTER JOIN 	  FMK.[User] AS UC ON P.Creator = UC.UserID 
  LEFT OUTER JOIN	  FMK.[User] AS ULM ON P.LastModifier = ULM.UserID


  