
/****** Object:  View [POM].[vwPurchaseOrderItem] ******/

IF OBJECT_ID('POM.vwPurchaseOrderItem') IS NOT NULL
  DROP VIEW POM.[vwPurchaseOrderItem]
GO
CREATE VIEW [POM].[vwPurchaseOrderItem]
AS
SELECT
  POI.PurchaseOrderItemID
 ,POI.PurchaseOrderRef
 ,CASE WHEN IP.PurchasingType=1 THEN IP.DLCode ELSE IP.Number END AS PurchaseOrderNumber
 ,POI.BasePerformaItemRef
 ,POI.RowNumber
 ,POI.ItemRef
 ,I.Code AS ItemCode
 ,I.BarCode AS BarCode
 ,I.Title AS ItemTitle
 ,I.Title_En AS ItemTitle_En
 ,I.UnitRef
 ,I.UnitTitle
 ,I.UnitTitle_En
 ,I.SecondaryUnitRef
 ,I.SecondaryUnitTitle
 ,I.SecondaryUnitTitle_En
 ,I.IsUnitRatioConstant
 ,I.UnitsRatio
 ,I.SerialTracking
 ,I.PropertyAmounts
 ,I.TaxExemptPurchase AS TaxExempt
 ,I.[Type] AS ItemType
 ,GR.CalculationFormulaRef AS CalculationFormulaRef
 ,POI.Quantity
 ,POI.SecondaryQuantity
 ,POI.Quantity -ISNULL(PurchaseOrderUsedQuantity.UsedQuantity,0)  AS RemainingQuantity
 ,POI.SecondaryQuantity -ISNULL(PurchaseOrderUsedQuantity.UsedSecondaryQuantity,0)  AS RemainingSecondaryQuantity
 ,POI.Fee
 ,POI.FeeInBaseCurrency
 ,POI.[DeliveryDate]
 ,POI.[Tax] 
 ,POI.[TaxInBaseCurrency]
 ,POI.[Duty] 
 ,POI.[DutyInBaseCurrency]
 ,POI.[InsuranceAmount] 
 ,POI.[InsuranceAmountInBaseCurrency]
 ,POI.Price
 ,POI.PriceInBaseCurrency
 ,POI.Discount
 ,POI.DiscountInBaseCurrency
 ,POI.Addition
 ,POI.AdditionInBaseCurrency
 ,POI.NetPrice
 ,POI.NetPriceInBaseCurrency
 ,POI.[Description]
 ,POI.[Version]
 ,POI.TracingRef
 ,POI.BasePurchaseRequestItemRef
 ,BaseNumber = COALESCE(P.Number, PR.Number)
 ,PerformaNumber = P.Number
 ,PurchaseRequestNumber = PR.Number
 ,I.TracingCategoryRef
 ,T.Title AS TracingTitle
 ,CASE
    WHEN I.TracingCategoryRef IS NULL THEN 0
    ELSE 1
  END AS ItemHasTracing
 ,I.TaxRate AS ItemTaxRate
 ,I.DutyRate AS ItemDutyRate
 ,I.TaxExemptPurchase AS ItemTaxExempt
 ,PRI.ApprovedQuantity AS PurchaseRequestItemApprovedQuantity
 ,PI.Quantity AS PerformaItemQuantity
FROM POM.PurchaseOrderItem AS POI
LEFT JOIN POM.vwPurchaseOrderInvoicedQuantities PurchaseOrderUsedQuantity ON POI.PurchaseOrderItemID = PurchaseOrderUsedQuantity.PurchaseOrderItemId
	INNER JOIN POM.vwPurchaseOrder AS IP ON POI.PurchaseOrderRef = IP.PurchaseOrderID
	INNER JOIN INV.vwItem AS I ON POI.ItemRef = I.ItemID
	LEFT OUTER JOIN INV.TracingCategory AS TC ON I.TracingCategoryRef = TC.TracingCategoryID
	LEFT OUTER JOIN INV.Tracing AS T ON POI.TracingRef = T.TracingID AND TC.TracingCategoryID = T.TracingCategoryRef
	LEFT OUTER JOIN GNR.[Grouping] GR ON I.PurchaseGroupRef = GR.GroupingID
    LEFT JOIN POM.PurchaseRequestItem PRI ON PRI.PurchaseRequestItemID = POI.BasePurchaseRequestItemRef
    LEFT JOIN POM.PurchaseRequest PR ON PR.PurchaseRequestID = PRI.PurchaseRequestRef
    LEFT JOIN POM.PerformaItem PI ON PI.PerformaItemID = POI.BasePerformaItemRef
    LEFT JOIN POM.Performa P ON P.PerformaID = PI.PerformaRef

GO
