
/****** Object:  View [POM].[vwBillOfLoading] ******/
IF OBJECT_ID('POM.vwBillOfLoading') IS NOT NULL
	DROP VIEW POM.[vwBillOfLoading]
GO
CREATE VIEW [POM].[vwBillOfLoading]
AS
SELECT BOL.BillOfLoadingID
    ,BOL.TransporterDLRef
	,TransporterDL.Code AS TransporterDLCode
	,TransporterDL.Title AS TransporterDLTitle
	,TransporterDL.Title_En AS TransporterDLTitle_En
	,BOL.Number
	,BOL.[Date]
	,BOL.CurrencyRef
	,C.Title AS CurrencyTitle
	,C.Title_En AS CurrencyTitle_En
	,C.PrecisionCount AS CurrencyPrecisionCount
	,BOL.CurrencyRate
	,BOL.AllotmentType
	,BOL.[Description]
	,BOL.TransportSourceRef
	,TS.Code AS TransportSourceCode
	,TS.Title AS TransportSourceTitle
	,TS.Title_En AS TransportSourceTitle_En
	,BOL.TransportDestinationRef
	,TD.Code AS TransportDestinationCode
	,TD.Title AS TransportDestinationTitle
	,TD.Title_En AS TransportDestinationTitle_En
	,CASE WHEN ((ISNULL(BOL.TotalTax, 0) + ISNULL(BOL.TotalDuty, 0)) = 0) THEN 1 ELSE 0 END AS TaxExempt
	,BOL.TransportType
	,BOL.TotalPrice
	,BOL.TotalPriceInBaseCurrency
	,BOL.TotalDiscount
	,BOL.TotalDiscountInBaseCurrency
	,BOL.TotalAddition
	,BOL.TotalAdditionInBaseCurrency
	,BOL.TotalTax
	,BOL.TotalTaxInBaseCurrency
	,BOL.TotalDuty
	,BOL.TotalDutyInBaseCurrency
    ,BOL.TotalNetPrice
	,BOL.TotalNetPriceInBaseCurrency
	,BOL.VoucherRef
	,V.Number AS VoucherNumber
    ,V.Date AS VoucherDate
	,BOL.SLAccountRef
	,AC.Title AS SLAccountTitle
	,AC.Title_En AS SLAccountTitle_En
    ,AC.FullCode AS SLAccountCode
	,BOL.PaymentHeaderRef
	,PH.Number PaymentHeaderNumber
	,PH.Date PaymentHeaderDate
    ,BOL.FiscalYearRef
	,BOL.Creator
	,U.[Name] AS CreatorName
	,U.Name_En AS CreatorName_En
	,BOL.CreationDate
	,BOL.LastModifier
	,MU.[Name] LastModifierName
	,MU.Name_En LastModifierName_EN
    ,BOL.LastModificationDate
	,BOL.[Version]
FROM POM.BillOfLoading AS BOL
	INNER JOIN ACC.DL AS TransporterDL ON BOL.TransporterDLRef = TransporterDL.DLId 
	INNER JOIN GNR.Currency AS C ON BOL.CurrencyRef = C.CurrencyID 
	LEFT JOIN GNR.Location AS TS ON BOL.TransportSourceRef = TS.LocationId
	LEFT JOIN GNR.Location AS TD ON BOL.TransportDestinationRef = TD.LocationId
	LEFT JOIN ACC.vwAccount AS AC ON BOL.SLAccountRef = AC.AccountId
	LEFT JOIN ACC.Voucher AS V ON BOL.VoucherRef = V.VoucherId
	LEFT JOIN RPA.PaymentHeader AS PH ON BOL.PaymentHeaderRef = PH.PaymentHeaderId
	LEFT JOIN FMK.[User] AS U ON BOL.Creator = U.UserID
	LEFT JOIN FMK.[User] AS MU ON BOL.LastModifier = MU.UserID

GO