
/****** Object:  View [POM].[vwPurchaseOtherCostItem] ******/
IF OBJECT_ID('POM.vwPurchaseOtherCostItem') IS NOT NULL
	DROP VIEW POM.[vwPurchaseOtherCostItem]
GO
CREATE VIEW [POM].[vwPurchaseOtherCostItem]
AS
SELECT POCI.PurchaseOtherCostItemID
	,POCI.PurchaseCostRef
	,POCI.RowNumber
	,POCI.ServiceInventoryPurchaseInvoiceItemRef
	,SPII.InventoryPurchaseInvoiceNumber AS ServiceInventoryPurchaseInvoiceNumber
	,SPII.InventoryPurchaseInvoiceRef AS ServiceInventoryPurchaseInvoiceRef
	,SPII.InventoryPurchaseInvoiceDate AS ServiceInventoryPurchaseInvoiceDate
	,IPC.PrecisionCount AS ServiceInventoryPurchaseInvoicePrecisionCount
	,POCI.CostServiceAccountSLRef
	,A.Title  CostServiceAccountTitle
	,A.Code CostServiceAccountCode
	,A.FullCode CostServiceAccountFullCode
	,SPII.ItemRef
	,SPII.ItemCode
	,SPII.ItemTitle
	,SPII.ItemTitle_En
	,POCI.AmountInBaseCurrency
	,POCI.EffectiveAmountInBaseCurrency
	,POCI.AllotmentType
	,POCI.[Version]
FROM POM.PurchaseOtherCostItem AS POCI
	INNER JOIN INV.vwServiceInventoryPurchaseInvoiceItem AS SPII ON POCI.ServiceInventoryPurchaseInvoiceItemRef = SPII.InventoryPurchaseInvoiceItemID
	INNER JOIN INV.InventoryPurchaseInvoice AS IP ON SPII.InventoryPurchaseInvoiceRef = IP.InventoryPurchaseInvoiceID
	INNER JOIN GNR.Currency AS IPC ON IP.CurrencyRef = IPC.CurrencyID  
	LEFT JOIN ACC.vwAccount A ON A.AccountId = POCI.CostServiceAccountSLRef

GO