If Object_ID('POM.vwCustoms') Is Not Null
	Drop View POM.vwCustoms
GO
CREATE view POM.vwCustoms as 

SELECT  [CustomsID]
      ,[Code]
      ,[Title]
      ,[Title_En]
      ,[Creator]
      ,[CreationDate]
      ,[LastModifier]
      ,[LastModificationDate]
      ,[Version]
  FROM [POM].[Customs]