
/****** Object:  View [POM].[vwInsurancePolicy] ******/
IF OBJECT_ID('POM.vwInsurancePolicy') IS NOT NULL
	DROP VIEW POM.[vwInsurancePolicy]
GO
CREATE VIEW [POM].[vwInsurancePolicy]
AS
SELECT INP.InsurancePolicyID
	,INP.PurchaseOrderRef
	,PO.DLRef AS PurchaseOrderDLRef
	,PO.DLCode AS PurchaseOrderDLCode
	,PO.DLTitle AS PurchaseOrderDLTitle
	,PO.DLTitle_En AS PurchaseOrderDLTitle_En
	,PO.Date PurchaseOrderDate
	,PO.TotalNetPrice AS PurchaseOrderTotalNetPrice
	,PO.TotalNetPriceInBaseCurrency AS PurchaseOrderTotalNetPriceInBaseCurrency
    ,INP.AgencyDLRef
	,AgencyDL.Code AS AgencyDLCode
	,AgencyDL.Title AS AgencyDLTitle
	,AgencyDL.Title_En AS AgencyDLTitle_En
	,INP.CoverType
	,INP.SLAccountRef
	,AC.Title AS SLAccountTitle
	,AC.Title_En AS SLAccountTitle_En
    ,AC.FullCode AS SLAccountCode
	,INP.Number
	,INP.[Date]
	,INP.ValidityDate
	,INP.CurrencyRef
	,C.Title AS CurrencyTitle
	,C.Title_En AS CurrencyTitle_En
	,C.PrecisionCount AS CurrencyPrecisionCount
	,INP.CurrencyRate
	,INP.[Description]
	,INP.InputCustomsRef
	,CU.Code AS InputCustomsCode
	,CU.Title AS InputCustomsTitle
	,CU.Title_En AS InputCustomsTitle_En
	,INP.TransportSourceRef
	,TS.Code AS TransportSourceCode
	,TS.Title AS TransportSourceTitle
	,TS.Title_En AS TransportSourceTitle_En
	,INP.TransportDestinationRef
	,TD.Code AS TransportDestinationCode
	,TD.Title AS TransportDestinationTitle
	,TD.Title_En AS TransportDestinationTitle_En
	,INP.TotalPrice
	,INP.TotalPriceInBaseCurrency
	,INP.TotalNetPrice
	,INP.TotalNetPriceInBaseCurrency
	,INP.TotalTax
	,INP.TotalTaxInBaseCurrency
	,INP.TotalDuty
	,INP.TotalDutyInBaseCurrency
	,INP.AllotmentType
	,INP.VoucherRef
	,CASE WHEN ((ISNULL(INP.TotalTax, 0) + ISNULL(INP.TotalDuty, 0)) = 0) THEN 1 ELSE 0 END AS TaxExempt
	,V.Number AS VoucherNumber
    ,V.Date AS VoucherDate
	,INP.PaymentHeaderRef
	,PH.Number PaymentHeaderNumber
	,PH.Date PaymentHeaderDate
    ,INP.FiscalYearRef
	,INP.Creator
	,U.[Name] AS CreatorName
	,U.Name_En AS CreatorName_En
	,INP.CreationDate
	,INP.LastModifier
	,MU.[Name] LastModifierName
	,MU.Name_En LastModifierName_EN
	,INP.LastModificationDate
	,INP.[Version]
FROM POM.InsurancePolicy AS INP
	INNER JOIN POM.vwPurchaseOrder AS PO ON INP.PurchaseOrderRef = PO.PurchaseOrderID
	INNER JOIN GNR.Currency AS C ON INP.CurrencyRef = C.CurrencyID 
	LEFT JOIN ACC.DL AS AgencyDL ON INP.AgencyDLRef = AgencyDL.DLId
	LEFT JOIN POM.Customs AS CU ON INP.InputCustomsRef = CU.CustomsID
	LEFT JOIN GNR.Location AS TS ON INP.TransportSourceRef = TS.LocationId
	LEFT JOIN GNR.Location AS TD ON INP.TransportDestinationRef = TD.LocationId
	LEFT JOIN ACC.vwAccount AS AC ON INP.SLAccountRef = AC.AccountId
	LEFT JOIN ACC.Voucher AS V ON INP.VoucherRef = V.VoucherId
	LEFT JOIN RPA.PaymentHeader AS PH ON INP.PaymentHeaderRef = PH.PaymentHeaderId
	LEFT JOIN FMK.[User] AS U ON INP.Creator = U.UserID
	LEFT JOIN FMK.[User] AS MU ON INP.LastModifier = MU.UserID

GO