
/****** Object:  View [POM].[vwInsurancePolicyItem] ******/

IF OBJECT_ID('POM.vwInsurancePolicyItem') IS NOT NULL
	DROP VIEW POM.[vwInsurancePolicyItem]
GO
CREATE VIEW [POM].[vwInsurancePolicyItem]
AS
SELECT  IPI.InsurancePolicyItemID
	,IPI.InsurancePolicyRef
	,IPI.RowNumber
	,IPI.BasePurchaseOrderItemRef
	,POI.ItemRef
	,POI.ItemCode
	,POI.ItemTitle
	,POI.ItemTitle_En
	,POI.TracingRef
	,POI.TracingTitle
	,POI.Quantity
	,POI.SecondaryQuantity
	,POI.NetPrice
	,POI.NetPriceInBaseCurrency
	,POI.ItemHasTracing
	,IPI.Price
	,IPI.PriceInBaseCurrency
	,(IPI.Price - U.UsedPrice) AS RemainingPrice
	,(IPI.PriceInBaseCurrency - U.UsedPriceInBaseCurrency) AS RemainingPriceInBaseCurrency
	,IPI.[Description]
	,IPI.[Version]
	,PO.CurrencyRef
	,PO.CurrencyRate
	,PO.CurrencyTitle
	,PO.CurrencyTitle_En
FROM POM.InsurancePolicyItem AS IPI
	INNER JOIN POM.InsurancePolicy AS IPO ON IPI.InsurancePolicyRef = IPO.InsurancePolicyID
	INNER JOIN POM.vwPurchaseOrderItem POI ON IPI.BasePurchaseOrderItemRef = POI.PurchaseOrderItemID
	INNER JOIN POM.vwPurchaseOrder PO ON POI.PurchaseOrderRef=PO.PurchaseOrderID
	LEFT JOIN POM.vwInsurancePolicyCostedPrices AS U ON IPI.InsurancePolicyItemID = U.InsurancePolicyItemID
GO

