
/****** Object:  View [POM].[vwPurchaseCostItem] ******/

IF OBJECT_ID('POM.vwPurchaseCostItem') IS NOT NULL
	DROP VIEW POM.[vwPurchaseCostItem]
GO
CREATE VIEW [POM].[vwPurchaseCostItem]
AS
SELECT  PCI.PurchaseCostItemID
	,PCI.PurchaseCostRef	
    ,PCI.PurchaseInvoiceItemRef
	,PII.PurchaseOrderItemRef
	,PII.RowNumber
	,PII.ItemRef
	,PII.ItemCode
	,PII.ItemTitle
	,PII.ItemTitle_En
	,PII.TracingRef
	,PII.TracingTitle
	,PII.ItemHasTracing
	,PII.Quantity
	,PII.SecondaryQuantity
	,PCI.PurchaseInvoiceItemNetPriceInBaseCurrency
	,PCI.TotalCommercialOrder
	,PCI.TotalCommercialOrderInBaseCurrency
	,PCI.TotalInsurancePolicy
	,PCI.TotalInsurancePolicyInBaseCurrency
	,PCI.TotalBillOfLoading
	,PCI.TotalBillOfLoadingInBaseCurrency
	,PCI.TotalCustomsClearance
	,PCI.TotalCustomsClearanceInBaseCurrency
	,PCI.TotalOtherCostsInBaseCurrency
	,PCI.AllotmenedAmountInBaseCurrency
	,PCI.NetPriceInBaseCurrency
	,PCI.FinalFeeInBaseCurrency
	,PCI.[Description]
	,PCI.[Version]
	,PCI.CommercialOrderItemRef
	,PCI.InsurancePolicyItemRef
	,PIN.CurrencyRef AS PurchaseInvoiceCurrencyRef
	,PIN.CurrencyRate AS PurchaseInvoiceCurrencyRate
	,PIN.CurrencyTitle AS PurchaseInvoiceCurrencyTitle
	,PIN.CurrencyTitle_En AS PurchaseInvoiceCurrencyTitle_En
	,PIN.CurrencyPrecisionCount AS PurchaseInvoiceCurrencyPrecisionCount
	,INP.CurrencyPrecisionCount AS InsurancePolicyCurrencyPrecisionCount
FROM POM.PurchaseCostItem AS PCI
	INNER JOIN POM.PurchaseCost AS PC ON PCI.PurchaseCostRef = PC.PurchaseCostID
	INNER JOIN POM.vwPurchaseInvoiceItem AS PII ON PCI.PurchaseInvoiceItemRef = PII.PurchaseInvoiceItemID
	INNER JOIN POM.vwPurchaseInvoice AS PIN ON PII.PurchaseInvoiceRef = PIN.PurchaseInvoiceID
	LEFT JOIN POM.InsurancePolicyItem AS IPI ON PCI.InsurancePolicyItemRef = IPI.InsurancePolicyItemID
	LEFT JOIN POM.vwInsurancePolicy AS INP ON IPI.InsurancePolicyRef = INP.InsurancePolicyID
GO

