
/****** Object:  View [POM].[vwPurchaseCost] ******/
IF OBJECT_ID('POM.vwPurchaseCost') IS NOT NULL
	DROP VIEW POM.[vwPurchaseCost]
GO
CREATE VIEW [POM].[vwPurchaseCost]
AS
SELECT PC.PurchaseCostID
    ,PC.PurchaseInvoiceRef
	,PIN.Number AS PurchaseInvoiceNumber
	,PIN.[Date] AS PurchaseInvoiceDate
	,PIN.VendorDLRef AS PurchaseInvoiceVendorDLRef
	,PIN.IsInitial As PurchaseInvoiceIsInitial
	,PIN.PurchaseOrderRef
	,PIN.PurchaseOrderNumber AS PurchaseOrderDLCode
	,PIN.DLRef AS PurchaseOrderDLRef
	,PIN.DLTitle AS PurchaseOrderDLTitle
	,PIN.DLTitle_En AS PurchaseOrderDLTitle_En
	,PC.Number
	,PC.[Date]
	,PC.[State]
	,PC.[Description]
	,PC.VoucherRef
	,V.Number AS VoucherNumber
    ,V.Date AS VoucherDate
    ,PC.FiscalYearRef
	,PC.Creator
	,U.[Name] AS CreatorName
	,U.Name_En AS CreatorName_En
	,PC.CreationDate
	,PC.LastModifier
	,MU.[Name] LastModifierName
	,MU.Name_En LastModifierName_EN
	,PC.LastModificationDate
	,PC.[Version]
FROM POM.PurchaseCost AS PC
	INNER JOIN POM.vwPurchaseInvoice AS PIN ON PC.PurchaseInvoiceRef = PIN.PurchaseInvoiceID
	LEFT JOIN ACC.Voucher AS V ON PC.VoucherRef = V.VoucherId
	LEFT JOIN FMK.[User] AS U ON PC.Creator = U.UserID
	LEFT JOIN FMK.[User] AS MU ON PC.LastModifier = MU.UserID

GO