
/****** Object:  View [POM].[vwBillOfLoadingItem] ******/

IF OBJECT_ID('POM.vwBillOfLoadingItem') IS NOT NULL
	DROP VIEW POM.[vwBillOfLoadingItem]
GO
CREATE VIEW [POM].[vwBillOfLoadingItem]
AS
SELECT  BOL.BillOfLoadingItemID
	,BOL.BillOfLoadingRef
	,BOL.RowNumber
	,BOL.BasePurchaseInvoiceItemRef
	,PII.PurchaseInvoiceRef BasePurchaseInvoiceRef
	,PII.PurchaseInvoiceNumber AS BasePurchaseInvoiceNumber
	,PII.PurchaseInvoiceDate AS BasePurchaseInvoiceDate
	,BOL.ItemRef
	,I.Code AS ItemCode
	,I.BarCode AS BarCode
	,I.Title AS ItemTitle
	,I.Title_En AS ItemTitle_En
	,I.UnitRef
	,I.UnitTitle
	,I.UnitTitle_En
	,I.SecondaryUnitRef 
	,I.SecondaryUnitTitle
	,I.SecondaryUnitTitle_En
	,I.IsUnitRatioConstant
	,I.UnitsRatio
	,I.SerialTracking
	,I.PropertyAmounts
	,GR.CalculationFormulaRef AS CalculationFormulaRef
	,BOL.Quantity
	,PII.[Quantity] As PurchaseInvoiceQuantity 
	,BOL.SecondaryQuantity
	,BOL.ItemWeight
    ,BOL.TotalWeight
	,PII.Fee AS BasePurchaseInvoiceItemFee
	,PII.FeeInBaseCurrency AS BasePurchaseInvoiceItemFeeInBaseCurrency
	,PII.NetPrice AS BasePurchaseInvoiceNetPrice
	,PII.NetPriceInBaseCurrency AS BasePurchaseInvoiceNetPriceInBaseCurrency
	,PII.PurchaseInvoiceDLRef AS BaseDLRef
	,PII.CurrencyRate AS PurchaseInvoiceCurrencyRate
	,PII.CurrencyPrecisionCount AS PurchaseInvoiceCurrencyPrecisionCount
	,BOL.ItemNetPrice
	,BOL.ItemNetPriceInBaseCurrency
	,BOL.Discount
	,BOL.DiscountInBaseCurrency
	,BOL.Addition
	,BOL.AdditionInBaseCurrency
	,BOL.NetPrice
	,BOL.NetPriceInBaseCurrency
	,BOL.Price
	,BOL.PriceInBaseCurrency
	,BOL.[Description]
	,BOL.[Version]
	,BOL.TracingRef
	,I.TracingCategoryRef
	,T.Title AS TracingTitle
	,CASE WHEN I.TracingCategoryRef IS NULL THEN 0 ELSE 1 END AS ItemHasTracing
FROM POM.BillOfLoadingItem AS BOL
	INNER JOIN POM.BillOfLoading AS IP ON BOL.BillOfLoadingRef = IP.BillOfLoadingID
	INNER JOIN POM.vwPurchaseInvoiceItem PII ON BOL.BasePurchaseInvoiceItemRef = PII.PurchaseInvoiceItemID
	INNER JOIN INV.vwItem AS I ON BOL.ItemRef = I.ItemID
	LEFT OUTER JOIN INV.TracingCategory AS TC ON I.TracingCategoryRef = TC.TracingCategoryID
	LEFT OUTER JOIN INV.Tracing AS T ON BOL.TracingRef = T.TracingID AND TC.TracingCategoryID = T.TracingCategoryRef
	LEFT OUTER JOIN GNR.[Grouping] GR ON I.PurchaseGroupRef = GR.GroupingID

GO
