IF  NOT EXISTS (SELECT  1 FROM GNR.[MarketingDisketteCurrency]) 
BEGIN
	INSERT [GNR].[MarketingDisketteCurrency] ([MarketingDisketteCurrencyID], [Code], [Ttile], [Version], [Creator], [CreationDate], [LastModifier], [LastModificationDate]) VALUES (1, N'8', N'لك الباني-ALL', 1, 1, CAST(N'2017-07-09T13:05:00.390' AS DateTime), 1, CAST(N'2017-07-09T13:05:00.390' AS DateTime))

	INSERT [GNR].[MarketingDisketteCurrency] ([MarketingDisketteCurrencyID], [Code], [Ttile], [Version], [Creator], [CreationDate], [LastModifier], [LastModificationDate]) VALUES (2, N'12', N'دينار الجزاير-DZD', 1, 1, CAST(N'2017-07-09T13:05:00.390' AS DateTime), 1, CAST(N'2017-07-09T13:05:00.390' AS DateTime))

	INSERT [GNR].[MarketingDisketteCurrency] ([MarketingDisketteCurrencyID], [Code], [Ttile], [Version], [Creator], [CreationDate], [LastModifier], [LastModificationDate]) VALUES (3, N'32', N'پزو آرژانتين-ARS', 1, 1, CAST(N'2017-07-09T13:05:00.390' AS DateTime), 1, CAST(N'2017-07-09T13:05:00.390' AS DateTime))

	INSERT [GNR].[MarketingDisketteCurrency] ([MarketingDisketteCurrencyID], [Code], [Ttile], [Version], [Creator], [CreationDate], [LastModifier], [LastModificationDate]) VALUES (4, N'36', N'دلار استراليا-AUD', 1, 1, CAST(N'2017-07-09T13:05:00.390' AS DateTime), 1, CAST(N'2017-07-09T13:05:00.390' AS DateTime))










































































































































		
		declare @LastId int = (SELECT IsNull(MAX(MarketingDisketteCurrencyID), 0) + 1 FROM GNR.[MarketingDisketteCurrency])
		exec [FMK].[spSetLastId] 'GNR.MarketingDisketteCurrency', @LastId
  END
