DECLARE @Temp TABLE ([UserRef] [INT] NOT NULL,	[LogicalResource] [NVARCHAR](500) NULL,	[HasAccess] [BIT] NOT NULL)

INSERT INTO @Temp(UserRef, LogicalResource, HasAccess)
SELECT UserRef, LogicalResource, HasAccess
FROM FMK.UserAccess
GROUP BY LogicalResource, UserRef, HasAccess
HAVING COUNT(*) > 1

IF EXISTS (SELECT 1 FROM @Temp)
BEGIN 
	DELETE UA
	FROM FMK.UserAccess UA
		INNER JOIN @Temp T ON UA.UserRef = T.UserRef AND UA.LogicalResource = T.LogicalResource AND 
				UA.HasAccess = T.HasAccess

	DECLARE @MaxUserAccessID INT = (SELECT MAX(UserAccessID) FROM FMK.UserAccess)
	INSERT INTO FMK.UserAccess(UserAccessID, UserRef, LogicalResource, HasAccess)
	SELECT (ROW_NUMBER() OVER(ORDER BY LogicalResource) + ISNULL(@MaxUserAccessID,0)), UserRef, LogicalResource, HasAccess
	FROM @Temp

	DECLARE @id int
	SELECT @id = MAX(UserAccessID) FROM FMK.UserAccess  

	IF (ISNULL(@id,0) > 0) 
	BEGIN
		EXEC FMK.[spSetLastId] 'FMK.UserAccess', @id
	END	
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE name = 'UC_UserAccess_UserRef_LogicalResource')
BEGIN
	ALTER TABLE [FMK].[UserAccess] ADD CONSTRAINT UC_UserAccess_UserRef_LogicalResource UNIQUE ([UserRef], [LogicalResource])
END
GO