IF NOT EXISTS(SELECT * FROM FMK.[Configuration] WHERE [Key] ='DefaultGridUserAccessInserted') 
		AND NOT EXISTS (SELECT * FROM FMK.[Version] WHERE Major * 100 + Minor * 10 + Build > 594)

BEGIN TRY
	BEGIN TRAN 
		DECLARE @Id INT = 1
		EXEC [FMK].[spGetNextId] 'FMK.UserAccess', @Id OUTPUT

		DECLARE @UserID NVARCHAR(MAX)  
		DECLARE UserCursor CURSOR READ_ONLY FOR 
		SELECT DISTINCT UA.UserRef
		FROM FMK.UserAccess AS UA
		OPEN UserCursor    
		   FETCH NEXT FROM UserCursor INTO @UserID   
		   WHILE @@FETCH_STATUS = 0   
		   BEGIN


INSERT INTO  FMK.UserAccess (UserAccessID,UserRef,LogicalResource,HasAccess)  
    VALUES (@Id , @UserID , 'Accounting.AccountManagement.Accounts.AccountsReview.ExcelExport' , 1)
SET @Id = @Id + 1
INSERT INTO  FMK.UserAccess (UserAccessID,UserRef,LogicalResource,HasAccess)  
    VALUES (@Id , @UserID , 'Accounting.AccountManagement.Accounts.AccountsReview.PrintingReport' , 1)
SET @Id = @Id + 1
INSERT INTO  FMK.UserAccess (UserAccessID,UserRef,LogicalResource,HasAccess)  
    VALUES (@Id , @UserID , 'Accounting.AccountManagement.Accounts.ExcelExport' , 1)
SET @Id = @Id + 1
INSERT INTO  FMK.UserAccess (UserAccessID,UserRef,LogicalResource,HasAccess)  
    VALUES (@Id , @UserID , 'Accounting.AccountManagement.Accounts.ExcelImport' , 1)
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1
SET @Id = @Id + 1

			  FETCH NEXT FROM UserCursor INTO @UserID   
		   END   

			DECLARE @ConfigurationID INT;
			EXEC [FMK].[spGetNextId] 'FMK.Configuration'
									,@ConfigurationID OUTPUT
									,1;

			INSERT INTO FMK.[Configuration] (ConfigurationID,[Key], [Value],[Version])
				VALUES (@ConfigurationID, 'DefaultGridUserAccessInserted', 'True', 1);
   
		   DECLARE @LastId INT = (SELECT IsNull(MAX(UserAccessID), 0) + 1 FROM FMK.UserAccess)
		   EXEC [FMK].[spSetLastId] 'FMK.UserAccess', @LastId

		   CLOSE UserCursor   
		   DEALLOCATE UserCursor 
	COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN

	CLOSE UserCursor   
    DEALLOCATE UserCursor

	DECLARE 
		@ErrorMessage  NVARCHAR(4000), 
		@ErrorSeverity INT, 
		@ErrorState    INT;
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(), 
			@ErrorSeverity = ERROR_SEVERITY(), 
			@ErrorState = ERROR_STATE();

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
GO
