IF NOT EXISTS (SELECT 1 FROM FMK.UserAccess WHERE LogicalResource like '%.List')
BEGIN

	DECLARE items CURSOR FAST_FORWARD FOR
	SELECT DISTINCT 'Root' = LEFT(LogicalResource, LEN(LogicalResource)- CHARINDEX('.', REVERSE(LogicalResource)) )
	FROM FMK.UserAccess
	Where LogicalResource like '%.New' OR LogicalResource like '%.Edit' OR LogicalResource like '%.Delete' 

	OPEN items

	DECLARE @Root nvarchar(500)

	FETCH NEXT FROM items INTO @Root


	WHILE @@FETCH_STATUS=0
	BEGIN
		UPDATE FMK.UserAccess SET LogicalResource = @Root+'.List' WHERE LogicalResource = @Root
		FETCH NEXT FROM items INTO @Root
	END
	CLOSE items
	DEALLOCATE items

END

------------------------
--IF EXISTS ( SELECT * FROM tempdb.sys.tables WHERE name LIKE '%#LocalT%')
--	DROP TABLE #LocalT

--CREATE TABLE #LocalT
--(Line Varchar(250))

DECLARE @temp AS table(Line varchar(250))

INSERT INTO @temp (Line) 

SELECT  'General.DebitCreditNoteManagement.DebitCreditNote'  UNION ALL
SELECT  'Sales.SalePriceManagement.PriceNote'  UNION ALL
SELECT  'Sales.InvoiceManagement.Quotation'  UNION ALL
SELECT  'General.BillManagement.PartyBill'  UNION ALL
SELECT  'Sales.InvoiceManagement.ReturnedInvoice'  UNION ALL
SELECT  'Sales.InvoiceManagement.Invoice'  UNION ALL
SELECT  'General.MarketingDisketteManagement.PartyMarketingDiskette'  UNION ALL
SELECT  'General.VatManagement.PartyVat'  UNION ALL
SELECT  'Sales.SalePriceManagement.SaleType'  UNION ALL
SELECT  'Inventory.ItemManagement.CompoundBarCode'  UNION ALL
SELECT  'Inventory.StockManagement.Stock'  UNION ALL
SELECT  'Inventory.InventoryOperations.InventoryDeliveryReturn'  UNION ALL
SELECT  'Inventory.InventoryOperations.InventoryReceiptReturn'  UNION ALL
SELECT  'Inventory.InventoryOperations.InventoryDelivery'  UNION ALL
SELECT  'Inventory.InventoryOperations.InventoryReceipt'  UNION ALL
SELECT  'General.FormulaManagement.CalculationElement'  UNION ALL
SELECT  'Inventory.InventoryOperations.InventoryPurchaseInvoice'  UNION ALL
SELECT  'General.FormulaManagement.CalculationFormula'  UNION ALL
SELECT  'Inventory.InventoryOperations.Pricing'  UNION ALL
SELECT  'Inventory.ItemManagement.Item'  UNION ALL
SELECT  'Inventory.UnitManagement.Unit'  UNION ALL
SELECT  'ReceiptAndPayment.PaymentManagement.RefundCheque'  UNION ALL
SELECT  'ReceiptAndPayment.PaymentManagement.Payment'  UNION ALL
SELECT  'ReceiptAndPayment.ReceiptManagement.PosSettlement'  UNION ALL
SELECT  'ReceiptAndPayment.BasicData.BankAccount'  UNION ALL
SELECT  'ReceiptAndPayment.BasicData.Pos'  UNION ALL
SELECT  'ReceiptAndPayment.BasicData.ChequeBook'  UNION ALL
SELECT  'ReceiptAndPayment.ReceiptManagement.Receipt'  UNION ALL
SELECT  'ReceiptAndPayment.BasicData.Cash'  UNION ALL
SELECT  'ReceiptAndPayment.BankReconciliation.BankBill'  UNION ALL
SELECT  'ReceiptAndPayment.ReceiptManagement.ReceiptChequeBanking'  UNION ALL
SELECT  'ReceiptAndPayment.BankReconciliation.Reconciliation'  UNION ALL
SELECT  'ReceiptAndPayment.PaymentManagement.PaymentChequeBanking'  UNION ALL
SELECT  'Accounting.AccountManagement.OtherDL'  UNION ALL
SELECT  'Accounting.AccountManagement.Accounts'  UNION ALL
SELECT  'Accounting.VoucherManagement.Voucher'  UNION ALL
SELECT  'Accounting.VoucherManagement.GLVoucher'  UNION ALL
SELECT  'Payroll.ContractManagement.Initialization'  UNION ALL
SELECT  'Payroll.PayrollOperation.MonthlyData'  UNION ALL
SELECT  'Payroll.PayrollOperation.Settlement'  UNION ALL
SELECT  'Payroll.BasicData.TaxTable'  UNION ALL
SELECT  'Payroll.BasicData.Branch'  UNION ALL
SELECT  'Payroll.BasicData.Job'  UNION ALL
SELECT  'Payroll.BasicData.Element'  UNION ALL
SELECT  'Payroll.ContractManagement.Contract'  UNION ALL
SELECT  'Payroll.PayrollOperation.PayrollLists'  UNION ALL
SELECT  'Payroll.BasicData.Worksite'  UNION ALL
SELECT  'Payroll.BasicData.Loan'  UNION ALL
SELECT  'General.CurrencyManagement.Currency'  UNION ALL
SELECT  'General.ShredManagement.Shred'  UNION ALL
SELECT  'General.PartyManagement.Party'  UNION ALL
SELECT  'General.Grouping.Grouping'  UNION ALL
SELECT  'General.DeliveryLocation.DeliveryLocation'  UNION ALL
SELECT  'General.CostCenter.CostCenter'  UNION ALL
SELECT  'General.CurrencyManagement.CurrencyExchangeRate'  UNION ALL
SELECT  'General.BackupManagement.Backup'  UNION ALL
SELECT  'Framework.Numbering.Numbering'  UNION ALL
SELECT  'Framework.FiscalYearManagement.FiscalYear'  UNION ALL
SELECT  'Framework.Security.User'  UNION ALL
SELECT  'PointOfSale.InvoiceManagement.Settlement'  UNION ALL
SELECT  'PointOfSale.InvoiceManagement.Cashier'  UNION ALL
SELECT  'PointOfSale.InvoiceManagement' 

UPDATE UA  SET LogicalResource = LogicalResource +'.List' 
FROM FMK.UserAccess  UA
WHERE LogicalResource IN( 
SELECT Line COLLATE Arabic_CI_AS
FROM   @temp) AND NOT EXISTS (SELECT * FROM fmk.userAccess UA2 WHERE UA2.logicalResource = UA.LogicalResource +'.List')