 
IF object_Id('AST.InsertDefaultClassAndGroup')  IS NOT NULL
	DROP PROCEDURE AST.InsertDefaultClassAndGroup
GO	
CREATE PROCEDURE AST.InsertDefaultClassAndGroup
	 @AssetClassTableName NVARCHAR(100) = 'AST.AssetClass'
	,@AssetGroupTableName NVARCHAR(100) = 'AST.AssetGroup'
	,@IncValue INT = 1
	,@MasterCode NVARCHAR(10) = 1
	,@CodingType INT = 0
	
AS
BEGIN
	
	DECLARE @MasterId INT, @DetailId INT ,@Date DATETIME = GETDATE(), @AssetSLRef INT, @AccumulatedDepreciationSLRef INT, @DepreciationSLRef INT 
	
	-- زمين 
	IF( @CodingType in( 1, 2, 3, 4) )
	BEGIN 
		SET @AssetSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121001')
		SET @AccumulatedDepreciationSLRef =  NULL
		SET @DepreciationSLRef = NULL
	END
	 
	EXEC FMK.[spGetNextId] @AssetClassTableName , @MasterId output, @IncValue = 1
	INSERT INTO [AST].[AssetClass] ([AssetClassID],[Code],[Title],[Title_En],[AssetSLRef],[DepreciationSLRef],[AccumulatedDepreciationSLRef],[AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@MasterId, '01', N'زمين', N'زمين', @AssetSLRef, @DepreciationSLRef, @AccumulatedDepreciationSLRef, NULL, 1, 1, @Date, 1, @Date)

	EXEC FMK.[spGetNextId] @AssetGroupTableName , @DetailId output, @IncValue = 1
	INSERT INTO [AST].[AssetGroup] ([AssetGroupID],[Code],[Title],[Title_En],[DepreciationRate],[UsefulLife],
		[DepreciationMethod],[MaxDepreciableBookValue],[SalvageValue], [AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@DetailId, '01',  N'زمين بدون روش',  N'زمين بدون روش', 0, 0, 
		1, 5, 0, @MasterId,	1, 1, @Date, 1, @Date)	
		
		
	-- ساختمان 	
	IF( @CodingType in( 1, 2, 3, 4) )
	BEGIN 
		SET @AssetSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121002')
		SET @AccumulatedDepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121101')
		SET @DepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '611301')
	END
	
	EXEC FMK.[spGetNextId] @AssetClassTableName , @MasterId output, @IncValue = 1
	INSERT INTO [AST].[AssetClass] ([AssetClassID],[Code],[Title],[Title_En],[AssetSLRef],[DepreciationSLRef],[AccumulatedDepreciationSLRef],[AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@MasterId, '02',  N'ساختمان',  N'ساختمان', @AssetSLRef, @DepreciationSLRef, @AccumulatedDepreciationSLRef, NULL, 1, 1, @Date, 1, @Date)
	 
	EXEC FMK.[spGetNextId] @AssetGroupTableName , @DetailId output, @IncValue = 1
	INSERT INTO [AST].[AssetGroup] ([AssetGroupID],[Code],[Title],[Title_En],[DepreciationRate],[UsefulLife],
		[DepreciationMethod],[MaxDepreciableBookValue],[SalvageValue], [AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@DetailId, '01',  N'ساختمان روش مستقيم 25 سال',  N'ساختمان روش مستقيم 25 سال', 0, 25, 
		2, 5, 1, @MasterId,	1, 1, @Date, 1, @Date)	
		
		EXEC FMK.[spGetNextId] @AssetGroupTableName , @DetailId output, @IncValue = 1
	INSERT INTO [AST].[AssetGroup] ([AssetGroupID],[Code],[Title],[Title_En],[DepreciationRate],[UsefulLife],
		[DepreciationMethod],[MaxDepreciableBookValue],[SalvageValue], [AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@DetailId, '02', N'ساختمان روش مستقيم 15 سال',  N'ساختمان روش مستقيم 15 سال', 0, 15, 
		2, 5, 1, @MasterId,	1, 1, @Date, 1, @Date)	
	
	--ماشين آلات و تجهيزات
	IF( @CodingType in( 3, 4) )
	BEGIN 
		SET @AssetSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121004')
		SET @AccumulatedDepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121103')
		SET @DepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '611303')
	END	
	ELSE
	BEGIN 
		 SET @AssetSLRef = NULL
		 SET @AccumulatedDepreciationSLRef = NULL
		 SET @DepreciationSLRef = NULL
	END
	
	EXEC FMK.[spGetNextId] @AssetClassTableName , @MasterId output, @IncValue = 1
	INSERT INTO [AST].[AssetClass] ([AssetClassID],[Code],[Title],[Title_En],[AssetSLRef],[DepreciationSLRef],[AccumulatedDepreciationSLRef],[AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@MasterId, '03',  N'ماشين آلات و تجهيزات',  N'ماشين آلات و تجهيزات', @AssetSLRef, @DepreciationSLRef, @AccumulatedDepreciationSLRef, NULL, 1, 1, @Date, 1, @Date)
	 
	EXEC FMK.[spGetNextId] @AssetGroupTableName , @DetailId output, @IncValue = 1
	INSERT INTO [AST].[AssetGroup] ([AssetGroupID],[Code],[Title],[Title_En],[DepreciationRate],[UsefulLife],
		[DepreciationMethod],[MaxDepreciableBookValue],[SalvageValue], [AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@DetailId, '01',  N' ماشين آلات و تجهيزات روش مستقيم 10 سال',  N' ماشين آلات و تجهيزات روش مستقيم 10 سال', 0, 10, 
		2, 5, 1, @MasterId,	1, 1, @Date, 1, @Date)
		
	EXEC FMK.[spGetNextId] @AssetGroupTableName , @DetailId output, @IncValue = 1
	INSERT INTO [AST].[AssetGroup] ([AssetGroupID],[Code],[Title],[Title_En],[DepreciationRate],[UsefulLife],
		[DepreciationMethod],[MaxDepreciableBookValue],[SalvageValue], [AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@DetailId, '02',  N' ماشين آلات و تجهيزات روش نزولي 12 درصد',  N' ماشين آلات و تجهيزات روش نزولي 12 درصد', 12, 0, 
		3, 5, 1, @MasterId,	1, 1, @Date, 1, @Date)	
	
	--اثاث و منصوبات
	 IF( @CodingType IN (1,2,3) )
	 BEGIN 
		 SET @AssetSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121007')
		 SET @AccumulatedDepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121106')
		 SET @DepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '611306') 
	 END
	 ELSE IF( @CodingType = 4 )
	 BEGIN 
		 SET @AssetSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121006')
		 SET @AccumulatedDepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121106')
		 SET @DepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '611306') 
	 END
	 
	 EXEC FMK.[spGetNextId] @AssetClassTableName , @MasterId output, @IncValue = 1
	 INSERT INTO [AST].[AssetClass] ([AssetClassID],[Code],[Title],[Title_En],[AssetSLRef],[DepreciationSLRef],[AccumulatedDepreciationSLRef],[AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	 VALUES(@MasterId, '04',  N'اثاثه و منصوبات',  N'اثاثه و منصوبات', @AssetSLRef, @DepreciationSLRef, @AccumulatedDepreciationSLRef, NULL, 1, 1, @Date, 1, @Date)		
	 
	EXEC FMK.[spGetNextId] @AssetGroupTableName , @DetailId output, @IncValue = 1
	INSERT INTO [AST].[AssetGroup] ([AssetGroupID],[Code],[Title],[Title_En],[DepreciationRate],[UsefulLife],
		[DepreciationMethod],[MaxDepreciableBookValue],[SalvageValue], [AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@DetailId, '01',  N'اموال و اثاثيه روش مستقيم 5 سال',   N'اموال و اثاثيه روش مستقيم 5 سال', 0, 5, 
		2, 5, 1, @MasterId,	1, 1, @Date, 1, @Date)	

	
	--وسائط نقليه
     IF( @CodingType IN (1,2,3) )
	 BEGIN 
		 SET @AssetSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121005')
		 SET @AccumulatedDepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121104')
		 SET @DepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '611304') 
	 END
	 ELSE IF( @CodingType = 4 )
	 BEGIN 
		 SET @AssetSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121005')
		 SET @AccumulatedDepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121105')
		 SET @DepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '611305') 
	 END
	 
	EXEC FMK.[spGetNextId] @AssetClassTableName , @MasterId output, @IncValue = 1
	INSERT INTO [AST].[AssetClass] ([AssetClassID],[Code],[Title],[Title_En],[AssetSLRef],[DepreciationSLRef],[AccumulatedDepreciationSLRef],[AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@MasterId, '05',  N'وسائط نقليه',  N'وسائط نقليه', @AssetSLRef, @DepreciationSLRef, @AccumulatedDepreciationSLRef, NULL, 1, 1, @Date, 1, @Date)
	 
	 	
	EXEC FMK.[spGetNextId] @AssetGroupTableName , @DetailId output, @IncValue = 1
	INSERT INTO [AST].[AssetGroup] ([AssetGroupID],[Code],[Title],[Title_En],[DepreciationRate],[UsefulLife],
		[DepreciationMethod],[MaxDepreciableBookValue],[SalvageValue], [AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@DetailId, '01',  N'وسائط نقليه روش مستقيم 6 سال',   N'وسائط نقليه روش مستقيم 6 سال', 0, 6, 
		2, 5, 1, @MasterId,	1, 1, @Date, 1, @Date)	

	 
	 
	 --تاسيسات
	IF( @CodingType in(1,2, 3, 4) )
	BEGIN 
		SET @AssetSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121003')
		SET @AccumulatedDepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '121102')
		SET @DepreciationSLRef = (SELECT TOP 1 AccountId FROM Acc.vwAccount WHERE FullCode = '611302') 
	END
	 
	ELSE
	BEGIN 
		SET @AssetSLRef = NULL
		SET @AccumulatedDepreciationSLRef = NULL
		SET @DepreciationSLRef = NULL
	END
	EXEC FMK.[spGetNextId] @AssetClassTableName , @MasterId output, @IncValue = 1
	INSERT INTO [AST].[AssetClass] ([AssetClassID],[Code],[Title],[Title_En],[AssetSLRef],[DepreciationSLRef],[AccumulatedDepreciationSLRef],[AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@MasterId, '06',  N'تاسيسات',  N'تاسيسات', @AssetSLRef, @DepreciationSLRef, @AccumulatedDepreciationSLRef, NULL, 1, 1, @Date, 1, @Date)
		
	EXEC FMK.[spGetNextId] @AssetGroupTableName , @DetailId output, @IncValue = 1
	INSERT INTO [AST].[AssetGroup] ([AssetGroupID],[Code],[Title],[Title_En],[DepreciationRate],[UsefulLife],
		[DepreciationMethod],[MaxDepreciableBookValue],[SalvageValue], [AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@DetailId, '01',  N'تاسيسات روش نزولي 15 درصد',  N'تاسيسات روش نزولي 15 درصد', 15, 0, 
		3, 5, 1, @MasterId,	1, 1, @Date, 1, @Date)		
		
	EXEC FMK.[spGetNextId] @AssetGroupTableName , @DetailId output, @IncValue = 1
	INSERT INTO [AST].[AssetGroup] ([AssetGroupID],[Code],[Title],[Title_En],[DepreciationRate],[UsefulLife],
		[DepreciationMethod],[MaxDepreciableBookValue],[SalvageValue], [AssetClassRef],
		[Version],[Creator],[CreationDate],[LastModifier],[LastModificationDate])
	VALUES(@DetailId, '02',  N'تاسيسات روش مستقيم 35 سال',   N'تاسيسات روش مستقيم 35 سال', 0, 35, 
		2, 5, 1, @MasterId,	1, 1, @Date, 1, @Date)		
		
END

 