IF OBJECT_ID('CNT.spSetCoefficientSlDefault') IS NOT NULL
    DROP PROCEDURE CNT.spSetCoefficientSlDefault
GO
CREATE PROCEDURE [CNT].[spSetCoefficientSlDefault]
	@CoefficientCode INT,
	@AccountCode NVARCHAR(50)
AS
BEGIN
	DECLARE	@ID INT
	DECLARE	@AccountID INT
	SELECT	@ID			=	c.CoefficientID
		FROM	CNT.[Coefficient] c
			WHERE	c.Code		=	@CoefficientCode
	
	SELECT	@AccountID	=	AccountID
		FROM	ACC.vwAccount a
			WHERE	a.FullCode	=	@AccountCode  
	
	IF (@id IS NOT NULL)
	BEGIN
	    UPDATE	CNT.Coefficient
			SET		SlRef = @AccountID
				WHERE	CoefficientID = @id;
	END
END
GO