IF OBJECT_ID('PAY.spInsertConfigurationElement') IS NOT NULL
	DROP PROCEDURE PAY.spInsertConfigurationElement 
GO
CREATE PROCEDURE PAY.spInsertConfigurationElement @payrollConfigurationElementId int, @elementRef int, @coefficient decimal(19,4), @type int, @payrollConfigurationRef int
AS
BEGIN

IF EXISTS (SELECT 1	FROM Pay.Element WHERE ElementId = @elementRef)
	AND NOT EXISTS(SELECT * FROM Pay.PayrollConfigurationElement WHERE PayrollConfigurationElementId = @payrollConfigurationElementId)
	AND EXISTS(SELECT * FROM Pay.PayrollConfiguration WHERE PayrollConfigurationId = @payrollConfigurationRef)
	INSERT INTO PAY.PayrollConfigurationElement(PayrollConfigurationElementId, ElementRef, Coefficient, Type, PayrollConfigurationRef)
		VALUES(@payrollConfigurationElementId ,@elementRef, @coefficient , @type, @payrollConfigurationRef)

END
